Repository hmcts/ia-case-notifications-api, pull requests merged in 2019-11, with the labels that each got.

#91 Fixing up project after AKS migration
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.aat.template.yaml
  charts/ia-case-notifications-api/values.preview.template.yaml
  charts/ia-case-notifications-api/values.yaml
  web.config
Labels: ns:ia-case-notifications-api-pr-91

#95 Ria 1463 appeal decision notifications
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/resources/scenarios/RIA-1380-case-listed-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-case-listed-notification-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-notification-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1463-send-appeal-allowed-decision-notification.json
  src/functionalTest/resources/scenarios/RIA-1463-send-appeal-dismissed-decision-notification.json
  src/functionalTest/resources/scenarios/RIA-1610-RIA-437-RIA-438-case-listed-notification-manchester-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1610-RIA-437-RIA-438-case-listed-notification-taylor-house-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-end-appeal-home-office-notification.json
  src/functionalTest/resources/scenarios/RIA-1674-record-refused-application-ho-and-legal-rep-notifications.json
  src/functionalTest/resources/scenarios/RIA-1789-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-1794-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-610-send-build-case-direction-notification.json
  src/functionalTest/resources/scenarios/RIA-837-send-legal-rep-review-direction.json
  src/functionalTest/resources/scenarios/RIA-842-send-hearing-requirements-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealDecision.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/HomeOfficeAppealOutcomePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeAppealOutcomePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/NotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/HomeOfficeAppealOutcomePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeAppealOutcomePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
Labels: ns:ia-case-notifications-api-pr-95

#99 RIA-942 notify homeOffice and legaRep of hearing bundle is ready
  src/functionalTest/resources/scenarios/RIA-942-hearing-bundle-is-ready-notification-to-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerRespondentEvidenceSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerSubmitAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerSubmitCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/HomeOfficeHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/GovNotifyTemplateIdConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerRespondentEvidenceSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerSubmitAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerSubmitCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/HomeOfficeHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia-case-notifications-api-pr-99

#116 RIA-1191 notification on all non standard directions
  src/functionalTest/resources/scenarios/RIA-1191-non-standard-direction-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-414-RIA-1191-send-home-office-non-standard-direction.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeNonStandardDirectionOfHomeOfficePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/BasePersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/GovNotifyTemplateIdConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeNonStandardDirectionOfHomeOfficePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/BasePersonalisationProviderTest.java
Labels: ns:ia-case-notifications-api-pr-116

#134 travis jdk
  .travis.yml
Labels: ns:ia-case-notifications-api-pr-134

#140 adding apiVersion and bumping chart
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia-case-notifications-api-pr-140

#138 RIA-1976 add new hearing centres
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/ia-case-notifications-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/resources/scenarios/RIA-1976-appeal-submitted-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-appeal-submitted-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-appeal-submitted-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-appeal-submitted-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-north-shields.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-hearing-bundle-is-ready-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-1976-respondent-review-direction-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-respondent-review-direction-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-respondent-review-direction-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-respondent-review-direction-north-shields.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/resources/application-email-addresses.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
Labels: ns:ia-case-notifications-api-pr-138
