Repository hmcts/ia-case-notifications-api, pull requests merged in 2019-10, with the labels that each got.

#77 security vulnerabilities fix
  build.gradle
Labels: ns:ia-case-notifications-api-pr-77

#82 AKS adding config for aat
  Dockerfile
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/requirements.yaml
  charts/ia-case-notifications-api/values.aat.template.yaml
  lib/applicationinsights-agent-2.3.1.jar
  lib/applicationinsights-agent-2.4.1.jar
  web.config
Labels: ns:ia-case-notifications-api-pr-82

#84 Updating app insights agent jar
  Dockerfile
  build.gradle
Labels: ns:ia-case-notifications-api-pr-84

#83 enable aks in aat for notifications-api
  Jenkinsfile_CNP
Labels: ns:ia-case-notifications-api-pr-83

#89 Replacing number with UUID for notification references.
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationIdAppender.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationIdAppenderTest.java
Labels: ns:ia-case-notifications-api-pr-89

#90 AKS go live
  Jenkinsfile_CNP
Labels: ns:ia-case-notifications-api-pr-90

#92 add missing DocumentTag values
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia-case-notifications-api-pr-92

#93 re-trigger deployment
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
Labels: ns:ia-case-notifications-api-pr-93

#94 re-trigger build to refresh package
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
Labels: ns:ia-case-notifications-api-pr-94

#96 re-trigger build for new flux config
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/DateProvider.java
Labels: ns:ia-case-notifications-api-pr-96

#97 RIA-1789 request case-building direction to legal rep and amend evide…
  src/functionalTest/resources/scenarios/RIA-1789-request-case-building-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeRequestCaseBuildingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeRequestCaseBuildingPersonalisationTest.java
Labels: ns:ia-case-notifications-api-pr-97

#100 Add dependabot config
  .dependabot/config.yml
Labels: ns:ia-case-notifications-api-pr-100

#75 RIA-1793 home office response uploaded
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1792-notify-case-officer-of-respondent-evidence-submitted.json
  src/functionalTest/resources/scenarios/RIA-1793-ho-generic-uploaded-response.json
  src/functionalTest/resources/scenarios/RIA-1793-ho-lart-uploaded-response.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerHomeOfficeResponseUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerHomeOfficeResponseUploadedPersonalisationTest.java
Labels: ns:ia-case-notifications-api-pr-75

#111 Update build.gradle
  build.gradle
Labels: ns:ia-case-notifications-api-pr-111

#76 Ria 1794 ho response under review
  src/functionalTest/resources/scenarios/RIA-1794-request-response-review.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeRequestResponseReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LegalRepresentativeRequestResponseReviewPersonalisationTest.java
Labels: ns:ia-case-notifications-api-pr-76

#112 Disabling ASE except in Demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia-case-notifications-api-pr-112

#113 zap glue integration
  audit.json
  security.sh
  zap-known-issues.xml
Labels: ns:ia-case-notifications-api-pr-113

#115 url change for zap testing
  Jenkinsfile_nightly
  audit.json
Labels: ns:ia-case-notifications-api-pr-115
