Repository hmcts/ia-case-notifications-api, pull requests merged in 2019-08, with the labels that each got.

#60 RIA-1653 updating image url
  Jenkinsfile_CNP
  charts/ia-case-notifications-api/values.yaml
Labels: ns:ia-case-notifications-api-pr-60

#63 removing deprecated features
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
Labels: ns:ia-case-notifications-api-pr-63

#59 RIA-1610 notify case officer
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1610-case-listed-notification-to-manchester.json
  src/functionalTest/resources/scenarios/RIA-1610-case-listed-notification-to-taylor-house.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/CaseOfficerCaseListedNotifier.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerPersonalisationFactory.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/CaseOfficerCaseListedNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/CaseOfficerPersonalisationFactoryTest.java
Labels: ns:ia-case-notifications-api-pr-59

#65 Aks migration changes
  Dockerfile
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/requirements.yaml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/NotificationServiceResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia-case-notifications-api-pr-65
