Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-07, with the labels that each got.

#244 Feature/ia 2918 hide save and continue
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-bradford-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-bradford-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-taylor-house-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-taylor-house-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-birmingham-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-birmingham-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-glasgow-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-glasgow-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-hatton-cross-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-hatton-cross-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-north-shields-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-north-shields-save-and-continue-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-244

#300 RIA-2918 send legal rep notification when submissions
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-bradford-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-taylor-house-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-birmingham-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-glasgow-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-hatton-cross-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-1976-case-submitted-notification-to-case-officer-north-shields-save-and-continue-disabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-300

#299 RIA-3023: Cma Listed
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-manchester-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3023-cma-listed-notification-taylor-house-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCmaPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCmaPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCmaPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCmaPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCmaPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCmaPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCmaPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCmaPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-299

#231 RIA-2338: Sending notification to legal rep for editAppealAfterSubmitted event
  src/functionalTest/resources/scenarios/RIA-2338-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-2338-send-edit-appeal-after-submit-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEditAppealAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEditAppealAfterSubmitPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-231

#305 handle errors gracefully
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/ErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-305

#306 RIA-3420_Nightly_Build_Fix
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-306

#235 RIA-1497: Send notification to respondent for edit appeal after submit event
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-send-edit-appeal-after-submit-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEditAppealAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEditAppealAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEditAppealAfterSubmitPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-235

#296 RIA-3295 add new linkAppeal and unlinkAppeal events
  src/functionalTest/resources/scenarios/RIA-3295-link-appeal-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-link-appeal-before-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-unlink-appeal-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-unlink-appeal-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ReasonForLinkAppealOptions.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealExitedOnlinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/linkunlinkappeal/LegalRepresentativeLinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/linkunlinkappeal/LegalRepresentativeUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealExitedOnlinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/linkunlinkappeal/LegalRepresentativeLinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/linkunlinkappeal/LegalRepresentativeUnlinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-296

#297 RIA-3329 Feature/ria 3329 link unlink ho notification
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-link-appeal-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-link-appeal-before-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-unlink-appeal-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-unlink-appeal-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/linkunlinkappeal/HomeOfficeLinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/linkunlinkappeal/HomeOfficeUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/linkunlinkappeal/HomeOfficeLinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/linkunlinkappeal/HomeOfficeUnlinkAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-297

#282 Ria 2535 end appeal ho email
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2936-end-appeal-home-office-notification-judge-after-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEndAppealPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEndAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-282

#313 fix security vulnerability
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-313

#314 RIA-2535 home office email address fix
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2936-end-appeal-home-office-notification-judge-after-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEndAppealPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEndAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-314

#223 Feature/ria 2830 doc removed notification
  lombok.config
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HasDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingRecordingDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/IdValue.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/EditDocumentService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/FormattedDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/FormattedDocumentList.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealExitedOnlinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/EditDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/FormattedDocumentListTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-223

#318 fix notification for before listing scenario
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3295-unlink-appeal-after-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-318

#303 RIA-3440 upgrading to Java11
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-303

#289 RIA-2951 gradle version bumped to v6.5
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-289

#321 RIA-3479 upgrade pitest verion forjava11
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-321

#229 Feature/ria 2774 case progression
  src/functionalTest/resources/scenarios/RIA-2774-force-case-progression-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseProgressionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseProgressionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-229
