Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-09, with the labels that each got.

#325 RIA-3496 home office apc notification of submit appeal
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-2118-send-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-365-RIA-2936-send-appeal-submitted-notification-to-taylor-house.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeSubmitAppealPersonalisation.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-325

#360 fix Sonar checks
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/RequestUserAccessTokenProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-360

#362 RIA-3082 pay submit now failed payment
  src/functionalTest/resources/scenarios/RIA-3082-pay-and-submit-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-362

#322 Ria 429 pay submit
  src/functionalTest/resources/scenarios/RIA-429-send-appeal-submitted-and-paid-notification-legal-rep.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-322

#332 RIA-3366: UploadAddendumEvidence for Admin Officers
  src/functionalTest/resources/scenarios/RIA-3366-notification-of-admin-officer-uploaded-addendum-evidence.json
  src/functionalTest/resources/scenarios/RIA-414-RIA-1191-RIA-2694-send-home-office-non-standard-direction-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-332

#351 Ria 3472 pay later pba
  src/functionalTest/resources/scenarios/RIA-3472-send-appeal-submitted-and-paylater-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-3472-send-appeal-submitted-dc-appeal-type-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-3472-send-appeal-submitted-rp-appeal-type-notification-legal-rep.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayLaterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayLaterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-351

#287 Ria 3025 pending payment paid notification (after appealSubmitted)
  src/functionalTest/resources/scenarios/RIA-3025-paid-notification-legal-rep-after-appeal-submitted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3025-paid-notification-legal-rep-after-appeal-submitted-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePaymentPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePaymentPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-287

#374 fix for ria-2536 ended and appealTakenOffline state
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-374

#354 Ria 3434 pay offline by card pa
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-354

#285 Ria 3220 Pay offline - Notifications when a PA appeal has been lodged and payment is pending
  Jenkinsfile_CNP
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3220-send-appeal-submitted-payment-pending-notification-legal-rep.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPayOfflinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayOfflinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPayOfflinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayOfflinePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-285

#357 Ria 3488
  src/functionalTest/resources/scenarios/RIA-3488-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-aip-send-appeal-submitted-notification-to-case-worker.json
  src/functionalTest/resources/scenarios/RIA-3488-aip-send-appeal-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-aip-send-request-respondent-evidence-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-appeal-submitted-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-appeal-submitted-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-appeal-submitted-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-appeal-submitted-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-change-direction-due-date-both-parties.json
  src/functionalTest/resources/scenarios/RIA-3488-end-appeal-home-office-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3488-end-appeal-home-office-notification-judge-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3488-non-standard-direction-to-both-parties.json
  src/functionalTest/resources/scenarios/RIA-3488-notification-of-home-office-uploaded-additional-evidence-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3488-notification-of-legalrep-uploaded-additional-evidence-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-notification-to-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-notification-to-manchester.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-notification-to-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-pending-payment-ea-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-pending-payment-hu-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-3488-send-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-3488-send-non-standard-direction-judge-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3488-withdraw-record-refused-application-apc-ho-and-legal-rep-notifications-start.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeChangeDirectionDueDateOfHomeOfficePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEditAppealAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecordApplicationRespondentFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPendingPaymentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPendingPaymentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPendingPaymentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-357

#373 TAB-3103 Send notification when Request response amend
  src/functionalTest/resources/scenarios/RIA-3103-request-response-amend.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentRequestResponseAmendPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentRequestResponseAmendPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-373

#326 RIA-2904 OpenId implementation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.preview.template.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/IaCaseNotificationApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/TestConfiguration.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/CcdEventAuthorizorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/AuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SystemUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SystemUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-326

#331 RIA-3348 Feature/ria 3348 edit doc improvements
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/EditDocumentService.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/CaseOfficerEditDocumentsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/editdocument/EditDocumentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-331

#363 RIA-3473 mark appeal as paid of appeal types EA/HU/PA
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-363

#286 Ria 3219 pending payment paid notification
  src/functionalTest/resources/scenarios/RIA-3219-appeal-submitted-paid-notification-after-listing-legal-rep-pa-appeal-type.json
  src/functionalTest/resources/scenarios/RIA-3219-appeal-submitted-paid-notification-before-listing-legal-rep-pa-appeal-type.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/linkunlinkappeal/LegalRepresentativeUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-286
