Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-08, with the labels that each got.

#327 RIA-2774 fix notification template
  src/functionalTest/resources/scenarios/RIA-2774-force-case-progression-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseProgressionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseProgressionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-327

#247 RIA-2974 extension of RIA-1432
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-not-admitted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-refused-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplicantType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FtpaDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/GovNotifyTemplateIdConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecisionRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-247

#270 Ria 3003 updated inbox for ftpa decisions
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-refused-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-appellant-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIS-3003-ftpa-applicant-appeal-decision-not-admitted-responden.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-birmingham.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-manchester.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-refused-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-bradford.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-glasgow.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-manchester.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-granted-after-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-not-addmitted-afterappellant-partially-granted-birmingham.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-glasgow.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-taylor-house.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-270

#329 Feature/ria 1925 notice decision
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-329

#338 Minor lib version bumped
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-338

#337 Bumped jackson-datatype and jackson-databind from 2.10.1 to 2.11.1
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-337

#334 Ria 2923
  src/functionalTest/resources/scenarios/RIA-1976-RIA-3116-hearing-bundle-is-ready-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-2923-RIA-3116-hearing-bundle-is-ready-notification-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-2923-RIA-3116-hearing-bundle-is-ready-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-2923-hearing-bundle-failed-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-3116-hearing-bundle-failed-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-942-RIA-3116-hearing-bundle-is-ready-notification-to-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/em/Bundle.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/em/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/em/BundleDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/em/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-334

#356 remove remote state terraform scripts
  infrastructure/state.tf
  src/functionalTest/resources/scenarios/RIA-2923-hearing-bundle-failed-notification-to-north-shields.json
  src/functionalTest/resources/scenarios/RIA-3116-hearing-bundle-failed-notification-to-north-shields.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-356

#320 RIA-3372: CVE suppression clean up
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-320
