Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-01, with the labels that each got.

#148 RIA-2011: Changes to remove the requirements capture page from listin…
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-bradford.json
  src/functionalTest/resources/scenarios/RIA-1024-case-submitted-notification-to-case-officer-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2011-case-listed-notification-bradford-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/BasePersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/BasePersonalisationProviderTest.java
Labels: ns:ia-case-notifications-api-pr-148

#158 ithc aks migration
  build.gradle
  infrastructure/ithc.tfvars
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
Labels: ns:ia-case-notifications-api-pr-158

#160 RIA-1966: Template Update
  src/functionalTest/resources/scenarios/RIA-1966-aip-send-appeal-submitted-notifications-to-appellant.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/DateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/SystemDateProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/SystemDateProviderTest.java
Labels: ns:ia-case-notifications-api-pr-160

#162 fix sonar coverage
  build.gradle
Labels: ns:ia-case-notifications-api-pr-162

#164 RIA-1966-patch: Update subject
  src/functionalTest/resources/scenarios/RIA-1966-aip-send-appeal-submitted-notifications-to-appellant.json
Labels: ns:ia-case-notifications-api-pr-164

#165 chart upgrade after change to values.yaml
  charts/ia-case-notifications-api/Chart.yaml
  src/main/resources/application-email-addresses.yaml
Labels: ns:ia-case-notifications-api-pr-165

#170 Updates content changes.
  src/functionalTest/resources/scenarios/RIA-1966-aip-send-appeal-submitted-notifications-to-appellant.json
Labels: ns:ia, rel:ia-case-notifications-api-pr-170

#175 app insights key
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
Labels: ns:ia, rel:ia-case-notifications-api-pr-175

#177 fix security vulnerabilities
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/WelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/application-email-addresses.yaml
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-notifications-api-pr-177

#178 Adding missing appinsights into bootstrap mapping.
  src/main/resources/bootstrap.yaml
Labels: ns:ia, rel:ia-case-notifications-api-pr-178

#172 RIA-2448: fixed docker-compose file to make it work and updated the r…
  README.md
  bin/run-in-docker.sh
  docker-compose.yml
Labels: ns:ia, rel:ia-case-notifications-api-pr-172
