Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-12, with the labels that each got.

#414 RIA-3754:Notify HO of FTPA application decided
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-3003-ftpa-applicant-appeal-decision-refused-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-appellant-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIS-3003-ftpa-applicant-appeal-decision-not-admitted-responden.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-birmingham.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-manchester.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-refused-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-bradford.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-glasgow.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-manchester.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-granted-after-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-not-addmitted-afterappellant-partially-granted-birmingham.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-glasgow.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-granted-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-partially-granted-after-respondent-not-addmitted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-respondent.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-respondent.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-414

#418 RIA-3593 Notify CO of hearing requirements standard Direction
  src/functionalTest/resources/scenarios/RIA-2047-RIA-2694-RIA-3593-direction-request-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-2048-RIA-2694-RIA-3593-direction-request-hearing-requirements-legal-rep.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRequestHearingRequirementsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerResponseRequestHearingRequestPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-418

#428 RIA-3670: updated dependabot depdendcies (changes from PRs 420, 423, 425, 426)
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-428

#409 RIA-3689-notification for remission for LR and AO
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3689-send-appeal-submitted-with-remission-pa-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-3689-send-appeal-submitted-with-remission-pending-payment-ea-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-3689-send-appeal-submitted-with-remission-pending-payment-hu-appeal-type-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPayOfflinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayLaterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayOfflinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPayOfflinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAppealSubmittedPendingPaymentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayLaterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayOfflinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPendingPaymentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-409
