Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-10, with the labels that each got.

#369 Ria 3592 payment status
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-369

#372 Ria 3492 notification pending payment paid ea hu
  src/functionalTest/resources/scenarios/RIA-3492-appeal-submitted-paid-notification-ea-appeal-type.json
  src/functionalTest/resources/scenarios/RIA-3492-appeal-submitted-paid-notification-hu-appeal-type.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerPendingPaymentPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerPendingPaymentPaidPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-372

#383 Azure provider upgrade
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-383

#384 Terraform 12
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-384

#385 Azure provider v2
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-385

#389 Owasp upgrade 6.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-389

#392 MI migration test
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/Application.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-392

#391 RIA-3155 notifications to parties when appeal reinstated
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3155-reinstate-appeal-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3155-reinstate-appeal-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3155-reinstate-appeal-notification-home-office-lart.json
  src/functionalTest/resources/scenarios/RIA-3155-reinstate-appeal-notification-home-office-pou.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReinstateAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReinstateAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-391

#396 RIA-3451 CO and Judge decide an application
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-396

#378 Ria 3453 notifications when application online submitted
  Jenkinsfile_CNP
  src/functionalTest/resources/scenarios/RIA-3219-appeal-submitted-paid-notification-before-listing-legal-rep-pa-appeal-type.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-apc-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-apc-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-apc-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-apc-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-lart-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-lart-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-pou-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-generic-pou-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-lart-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-lart-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-pou-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-pou-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-legal-rep-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-legal-rep-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplication.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-378

#387 Ria 3454 notifications when application online decided
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-apc-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-apc-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-apc-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-apc-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-apc-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-apc-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-apc-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-apc-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-apc-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-lart-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-lart-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-lart-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-lart-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-pou-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-pou-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-pou-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-pou-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-lart-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-lart-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-lart-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-lart-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-pou-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-pou-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-pou-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-pou-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-legal-representative-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-legal-representative-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-legal-representative-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-legal-representative-refused-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplication.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-387

#399 Fix POU case before listing for Make or decide an application
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-home-office-pou-hc-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3454-decide-an-application-notification-home-office-generic-pou-granted-hc-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-399

#402 Terraform 0.13.4
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-402

#382 RIA-3651 update ftpa tabs when decision set aside and reheard
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-respondent.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaDecisionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-382

#386 Ria 3652 direction and state change ftpa decision reheard
  src/functionalTest/resources/scenarios/RIA-3652-direction-request-new-hearing-requirements-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3652-direction-request-new-hearing-requirements-judge.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestNewHearingRequirementsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestNewHearingRequirementsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-386
