Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-04, with the labels that each got.

#237 RIA-2821 urls out of vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-notifications-api-pr-237

#248 swagger publisher for api docs
  .github/workflows/swagger.yml
  .travis.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/docs/SwaggerPublisher.java
Labels: ns:ia, rel:ia-case-notifications-api-pr-248

#256 fix vault breakout with new values
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-notifications-api-pr-256

#259 RIA-2864-Clarifying_question
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ClarifyingQuestion.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/Direction.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ClarifyingQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTest.java
Labels: ns:ia, rel:ia-case-notifications-api-pr-259
