Repository hmcts/ia-case-notifications-api, pull requests merged in 2020-11, with the labels that each got.

#405 Pitest plugin for Junit5
  build.gradle
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplicantTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/CaseNoteTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/JourneyTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SubscriberTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/TimeExtensionDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/TimeExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/YesOrNoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/em/BundleTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-405

#400 RIA-3742 notify homeoffice ftpa-appalent-summitted
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-1373-RIA-2936-notification-of-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-1373-RIA-2936-notification-of-respondent-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2936-send-appeal-submitted-notification-to-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2936-send-appeal-submitted-notification-to-newport-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentAppellantFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/HomeOfficeFtpaEmailAddressesConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentAppellantFtpaSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentFtpaSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-400

#394 Ria 3582 tcw review requirements
  src/functionalTest/resources/scenarios/RIA-3582-hearing-requirements-adjustment-submitted-flag-missing.json
  src/functionalTest/resources/scenarios/RIA-3582-hearing-requirements-adjustment-submitted-flag-no.json
  src/functionalTest/resources/scenarios/RIA-3582-hearing-requirements-adjustment-submitted-ftpa-reheard.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerReviewHearingRequirementsPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerReviewHearingRequirementsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-394

#403 Ria 3386 reheard hearing requirements not submitted
  src/functionalTest/resources/scenarios/RIA-3386-without-hearing-requirements-submitted-flag-missing.json
  src/functionalTest/resources/scenarios/RIA-3386-without-hearing-requirements-submitted-flag-no.json
  src/functionalTest/resources/scenarios/RIA-3386-without-hearing-requirements-submitted-ftpa-reheard.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerWithoutHearingRequirementsPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerWithoutHearingRequirementsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-403

#412 RIA-3751 Non standard direction- consider logic for HO inboxes depend…
  src/functionalTest/resources/scenarios/RIA-1191-RIA-2694-RIA-3751-non-standard-direction-hearing-requirements-after-listing.json
  src/functionalTest/resources/scenarios/RIA-1191-RIA-2694-RIA-3751-non-standard-direction-hearing-requirements-before-listing.json
  src/functionalTest/resources/scenarios/RIA-2208-RIA-2694-RIA-3751-send-non-standard-direction-judge-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2208-RIA-2694-RIA-3751-send-non-standard-direction-judge-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3228-RIA-3751-non-standard-direction-to-both-parties.json
  src/functionalTest/resources/scenarios/RIA-3488-RIA-3751-non-standard-direction-to-both-parties.json
  src/functionalTest/resources/scenarios/RIA-3488-RIA-3751-send-non-standard-direction-judge-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3751-non-standard-direction-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3751-send-home-office-non-standard-direction-case-under-review.json
  src/functionalTest/resources/scenarios/RIA-3751-send-home-office-non-standard-direction-listing.json
  src/functionalTest/resources/scenarios/RIA-414-RIA-1191-RIA-2694-RIA-3751-send-home-office-non-standard-direction-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-412
