Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-04, with the labels that each got.

#479 RIA-4104 Add callback ccdSubmitted endpoint to ia-case-notifications-api
  src/functionalTest/resources/scenarios/RIA-4104-send-apply-notice-of-change-notification-to-legal-rep.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/Message.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/callback/PostSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/callback/PostSubmitCallbackStage.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/PostSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/postsubmit/PostSubmitNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PostSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MessageTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/callback/PostSubmitCallbackStageTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/postsubmit/PostSubmitNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PostSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/PostSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-479

#488 Ria 3951 remove legal rep
  src/functionalTest/resources/scenarios/RIA-3951-remove-representation-notifications-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-representation-notifications-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/postsubmit/PostSubmitNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-488

#438 RIA-3218 Legal rep apply for a late remission
  .github/workflows/swagger.yml
  src/functionalTest/resources/scenarios/RIA-3218-apply-for-a-late-remission.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerRequestFeeRemissionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestFeeRemissionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerRequestFeeRemissionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestFeeRemissionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-438

#497 suppressing new endpoint in the service
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-497

#427 RIA-3799 manage a fee update recorded NBC/CTSC
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-hu-appeal-paid-by-card-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-hu-appeal-paid-by-card-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-hu-appeal-paynow-by-PBA-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-hu-appeal-paynow-by-PBA-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paid-by-card-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paid-by-card-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paylater-by-account-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paylater-by-account-before-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paynow-by-account-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3799-manage-a-fee-update-pa-appeal-paynow-by-account-before-listing.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerManageFeeUpdatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerManageFeeUpdatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-427

#484 Ria 4084
  src/functionalTest/resources/scenarios/RIA-4084-send-apply-notice-of-change-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-4084-send-apply-notice-of-change-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-4084-send-apply-notice-of-change-notification-to-appellant-sms.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ContactPreference.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNocRequestDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantNocRequestDecisionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeNocRequestDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ContactPreferenceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNocRequestDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantNocRequestDecisionPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeNocRequestDecisionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-484

#489 Ria 3995
  src/functionalTest/resources/scenarios/RIA-3995-send-appeal-submitted-notifications-to-appellant-email.json
  src/functionalTest/resources/scenarios/RIA-3995-send-appeal-submitted-notifications-to-appellant-sms.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecipientsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-489

#446 RIA-3800 Notification of manage fee update for refund instructed
  src/functionalTest/resources/scenarios/RIA-3800-manage-fee-update-for-refund-instructed.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-446

#502 unsuppress NoC notifications
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveRepresentationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-502

#503 RIA-4278 fix CVE and upgrade Charts
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-503
