Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-06, with the labels that each got.

#526 RIA-4321: AIP appellant (SMS and email) and Home Office email notifications on endAppeal
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-after-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-AO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-judge.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-526

#529 Ria 4355 oot appellant refused
  src/functionalTest/resources/scenarios/RIA-4355-record-out-of-time-decision-appeal-cannot-proceed-aip-CO.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-529

#531 Ria 4356 oot appellant granted
  src/functionalTest/resources/scenarios/RIA-4356-record-out-of-time-decision-appeal-can-proceed-aip-CO.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCanProceedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCanProceedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCanProceedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCanProceedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-531

#534 RIA-4383 fix for HMCTS reference in appellant notifications
  src/functionalTest/resources/scenarios/RIA-3995-send-appeal-submitted-notifications-to-appellant-email.json
  src/functionalTest/resources/scenarios/RIA-3995-send-appeal-submitted-notifications-to-appellant-sms.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-534
