Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-07, with the labels that each got.

#533 RIA-4473 Decision without hearing route
  src/functionalTest/resources/scenarios/RIA-4473-decision-without-hearing-notification-to-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-533

#539 Update security script
  Jenkinsfile_nightly
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-539

#540 functional test fix in nightly build
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-540

#541 functional test fix in nigthly build url
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-541

#544 change ids in functional tests
  src/functionalTest/resources/scenarios/RIA-3488-end-appeal-home-office-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-after-listing-CO.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-544

#543 change ids in functional tests
  src/functionalTest/resources/scenarios/RIA-1400-appeal-exited-online-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1400-appeal-exited-online-before-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1463-send-appeal-allowed-decision-notification.json
  src/functionalTest/resources/scenarios/RIA-1610-RIA-437-RIA-438-case-listed-notification-manchester-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-1674-RIA-2936-record-refused-application-ho-and-legal-rep-notifications-after-listing.json
  src/functionalTest/resources/scenarios/RIA-1674-RIA-2936-record-refused-application-taylor-house-ho-and-legal-rep-notifications-after-listing.json
  src/functionalTest/resources/scenarios/RIA-1939-send-appeal-allowed-decision-notification-admin.json
  src/functionalTest/resources/scenarios/RIA-1939-send-appeal-allowed-decision-notification-judge.json
  src/functionalTest/resources/scenarios/RIA-2118-send-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2936-end-appeal-home-office-notification-judge-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2959-adjourn-hearing-without-date.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-3631-adjourn-hearing-without-date.json
  src/functionalTest/resources/scenarios/RIA-3631-send-appeal-allowed-decision-notification-admin.json
  src/functionalTest/resources/scenarios/RIA-3631-send-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-365-RIA-2936-send-appeal-submitted-notification-to-manchester.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-543

#518 RIA-4293 noc prompt to update details
  src/functionalTest/resources/scenarios/RIA-4293-send-home-office-evidence-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-518

#509 RIA-4336: Integrating AiP flow and make an application event for citizen
  src/functionalTest/resources/scenarios/RIA-2828-aip-send-notifications-request-more-time-appellant-case-officer-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-2976-aip-send-notifications-request-more-time-appellant-case-officer-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-3153-aip-send-notifications-request-more-time-appellant-case-officer-cma-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-509

#532 RIA-4359: Amend out of time appeal submission appellant notifications
  src/functionalTest/resources/scenarios/RIA-2405-RIA-2936-RIA-4359-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-RIA-4359-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3631-RIA-4359-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealOutOfTimePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealOutOfTimePersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealOutOfTimePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmitAppealOutOfTimePersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-532

#536 Ria 4387 Appellant request for more time before starting appeal reasons event notifications (Email and SMS)
  src/functionalTest/resources/scenarios/RIA-2828-aip-send-notifications-request-more-time-appellant-case-officer-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-2976-aip-send-notifications-request-more-time-appellant-case-officer-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-3153-aip-send-notifications-request-more-time-appellant-case-officer-cma-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMakeAnApplicationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMakeAnApplicationPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMakeAnApplicationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMakeAnApplicationPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-536

#535 RIA-4380: Added missing state causing issue for aip flow
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-535

#500 Ria 4226
  src/functionalTest/resources/scenarios/RIA-4226-noc-standard-direction-hearing-requirements-before-listing.json
  src/functionalTest/resources/scenarios/RIA-4226-standard-direction-hearing-requirements-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-500

#548 fix CVE-2021-27568
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-548

#551 fix CVE-2021-33037
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-551

#555 Temporary fix for GovNotify issue with SSL timeout exceptions
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/verifiers/NotificationVerifier.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/RetryableNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/GovNotifyConfiguration.java
  src/main/java/uk/gov/service/notify/CustomNotificationClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/RetryableNotificationClientTest.java
  src/test/java/uk/gov/service/notify/CustomNotificationClientTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-555

#558 Remove bintray
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-558

#542 RIA-4546: Added appellant notifications flow (notification to be followed in different stories) for linkAppeal, unlinkAppeal and changeHearingCentre
  src/functionalTest/resources/scenarios/RIA-4546-appeal-exited-online-aip-notification.json
  src/functionalTest/resources/scenarios/RIA-4546-link-appeal-aip-notification.json
  src/functionalTest/resources/scenarios/RIA-4546-send-change-hearing-centre-aip-notification.json
  src/functionalTest/resources/scenarios/RIA-4546-unlink-appeal-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-542

#549 RIA-4604: Fixed decideAnApplication error for aip appeals
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-549
