Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-05, with the labels that each got.

#506 TA-543: Enable CanIDeploy in Jenkins pipeline
  Jenkinsfile_CNP
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-506

#485 RIA-4106 Different progress image in overview tab
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerHearingBundleFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-485

#486 RIA-4047 Set hearing centre as Birmingham for Coventry and Nottingham postcodes
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-coventry-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-nottingham-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-486

#515 change settings
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-515

#516 RIA-4320 Approved FTPA decision email is not received
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-granted-after-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-granted-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-partially-granted-after-respondent-not-addmitted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-decided-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-respondent-granted-after-appellant-granted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisation.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-516
