Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-03, with the labels that each got.

#468 RIA-4056 Upgrade spring-boot to 2.3.5
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-468

#473 RIA-4058 remove cpe CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-473

#466 RIA-4055 Upgrade apache.httpcomponents/httpclient to 4.5.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-466

#481 RIA-4121 Upgrade Tomcat version from 9.0.40 to 9.0.43
  .github/workflows/swagger.yml
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-481

#464 RIA-3720 AO lists the case (remote hearing)
  src/functionalTest/resources/scenarios/RIA-3720-case-listed-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3720-case-listed-notification-remote-hearing.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/AppealServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-464

#483 TA-543 Consumer Contracts implemented
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/consumer/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/consumer/IdamApiConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-483
