Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-01, with the labels that each got.

#445 fix suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-445

#419 RIA-3305_hearing_bundle_ready
  src/functionalTest/resources/scenarios/RIA-3305-async-stitching-ho-notification-failure.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerAsyncStitchingHomeOfficeNotificationFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerAsyncStitchingHomeOfficeNotificationFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-419

#407 RIA-3313: Case Officer notification on FTPA submitted home office notification failure
  src/functionalTest/resources/scenarios/RIA-3313-appellant-ftpa-submitted-ho-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3313-respondent-ftpa-submitted-ho-notification-failure.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaSubmittedHomeOfficeNotificationFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaSubmittedHomeOfficeNotificationFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-407

#442 RIA-3776: Spring boot upgrade to 2.3.3
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerReListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestNewHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DirectionFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-442

#439 RIA-3855_Court_Outcome
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3855-decision-outcome-admin-home-office-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3855-decision-outcome-caseofficer-home-office-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3855-decision-outcome-judge-home-office-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-decided-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-respondent-granted-after-appellant-granted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerAppealOutcomeHomeOfficeNotificationFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaDecisionHomeOfficeNotificationFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerAppealOutcomeHomeOfficeNotificationFailedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerFtpaDecisionHomeOfficeNotificationFailedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-439

#397 RIA-3549 Provide legal representative details in the upload your bund…
  src/functionalTest/resources/scenarios/RIA-2550-RIA-2694-aip-send-request-respondent-evidence-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-aip-send-request-respondent-evidence-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-893-RIA-2694-send-home-office-evidence-direction.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-397

#437 RIA-3837_ooc_legal_rep
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-437
