Repository hmcts/ia-case-notifications-api, pull requests merged in 2021-09, with the labels that each got.

#517 RIA-4371 Notification for a LR when HO directed to amend response
  src/functionalTest/resources/scenarios/RIA-3103-request-response-amend.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestRespondentAmendDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestRespondentAmendDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-517

#578 RIA-4690: Appellant notifications on request response amend to HomeOffice
  src/functionalTest/resources/scenarios/RIA-4690-request-response-amend-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseAmendPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseAmendPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseAmendPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseAmendPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-578

#575 RIA-2917: change due date of HO notifications update for AIP flow
  src/functionalTest/resources/scenarios/RIA-4564-RIA-2917-respondent-notification-of-change-direction-due-date-awaitingReasonsForAppeal-aip.json
  src/functionalTest/resources/scenarios/RIA-4564-RIA-2917-respondent-notification-of-change-direction-due-date-cmaListed-aip.json
  src/functionalTest/resources/scenarios/RIA-4564-RIA-2917-respondent-notification-of-change-direction-due-date-respondent-review-aip.json
  src/functionalTest/resources/scenarios/RIA-4564-respondent-notification-of-change-direction-due-date-awaitingReasonsForAppeal-aip.json
  src/functionalTest/resources/scenarios/RIA-4564-respondent-notification-of-change-direction-due-date-cmaListed-aip.json
  src/functionalTest/resources/scenarios/RIA-4564-respondent-notification-of-change-direction-due-date-respondent-review-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantChangeDirectionDueDateOfHomeOfficePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantChangeDirectionDueDateOfHomeOfficePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantChangeDirectionDueDateOfHomeOfficePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantChangeDirectionDueDateOfHomeOfficePersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-575

#579 RIA-4646: request for response review notification to appellant (AiP)upon withdrawn decision from Homeoffice response
  src/functionalTest/resources/scenarios/RIA-4646-request-response-review-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealReviewOutcome.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseReviewPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseReviewPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealReviewOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseReviewPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseReviewPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-579

#580 Ria 4649 - request for response review notification to appellant (AiP) upon maintained decision from Homeoffice response
  src/functionalTest/resources/scenarios/RIA-4646-request-response-review-withdrawn-aip.json
  src/functionalTest/resources/scenarios/RIA-4649-request-response-review-maintained-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealReviewOutcome.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseReviewPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseReviewPersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestResponseReviewPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRequestResponseReviewPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-580
