Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-02, with the labels that each got.

#574 RIA-4540: Added uniqueId and directionType fields to Direction
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/Direction.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerUploadAddendumEvidencePersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerUploadAddendumEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-574

#612 Revert "RIA-5308 | stop the attempt of non-standard direction to LR in AIP jo…"
  src/functionalTest/resources/scenarios/RIA-5308-send-respondent-non-standard-direction-aip-awaiting-respondent-evidence.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-612

#614 RIA-5471: Update dependencies & address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-614

#615 RIA-5503: Upgrade base helm charts to latest
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-615
