Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-06, with the labels that each got.

#641 Ria 5601 change direction due date
  src/functionalTest/resources/scenarios/bail/RIA-5601-Change-direction-due-date-with-LR.json
  src/functionalTest/resources/scenarios/bail/RIA-5601-Change-direction-due-date-without-LR.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailChangeDirectionDueDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailChangeDirectionDueDatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-641

#647 Ria 5601 change direction due date
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-647

#648 RIA-5801 added make new application event
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-648

#646 Ria 5583 notifications for submit edited application
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/bail/RIA-5583-send-bail-application-edited-submitted-notification-with-LR.json
  src/functionalTest/resources/scenarios/bail/RIA-5583-send-bail-application-edited-submitted-notification-without-LR.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationEditAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailApplicationEditAfterSubmitPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationEditAfterSubmitPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailApplicationEditAfterSubmitPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-646

#655 RIA-5905 Update field names
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-5476-send-bail-application-submitted-notification-to-applicant-sms.json
  src/functionalTest/resources/scenarios/bail/RIA-5561-send-bail-signed-decision-notice-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5561-send-signed-decision-notice-notifications.json
  src/functionalTest/resources/templates/minimal-bail-application-ended-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-application-ended.json
  src/functionalTest/resources/templates/minimal-bail-record-the-decision-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-record-the-decision.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailSmsNotificationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailApplicationEndedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailApplicationSubmittedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailSignedDecisionNoticeUploadedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-655
