Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-10, with the labels that each got.

#707 RIA-6284 Fix functional test and new scenario PA pay now
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2118-send-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-6273-new-way-of-paying-lr-ho-appellant-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-707

#708 Ria 6284 functional test fixes
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2405-RIA-2936-RIA-4359-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3631-RIA-4359-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-708

#711 RIA-6172 Add EU to all options with HU/EA
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2936-end-appeal-home-office-notification-judge-after-listing.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-after-listing-CO.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerManageFeeUpdatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerManageFeeUpdatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-711

#715 RIA-6043: Do not send letter notifications
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3951-remove-representation-notifications-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-representation-notifications-tcw.json
  src/functionalTest/resources/scenarios/RIA-6043-remove-representation-notifications-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantRemoveRepresentationPersonalisationLetter.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantRemoveRepresentationPersonalisationLetterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-715
