Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-03, with the labels that each got.

#616 Revert "Revert "RIA-5308 | stop the attempt of non-standard direction…
  src/functionalTest/resources/scenarios/RIA-5308-send-respondent-non-standard-direction-aip-awaiting-respondent-evidence.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-616

#618 RIA-5157 aip ooc notification with no home office reference
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmail.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmitAppealPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-618

#620 RIA-5664 suppress databind vulnerability until a fix is ready. Fix Fo…
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-620
