Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-04, with the labels that each got.

#625 RIA-5584: Add functional tests for HC
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/bail/RIA-5584-send-bail-application-submitted-notification-to-newport-hearing-centre.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/UserRole.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/UserRoleTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-625

#627 RIA-5584: Use separate templates for HC notification when case with a…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/hearingcentre/email/HearingCentreSubmitApplicationPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/hearingcentre/HearingCentreSubmitApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-627

#626 Ria 5345 bail summary uploaded notification
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/bail/RIA-5345-send-bail-summary-uploaded-notification-with-LR.json
  src/functionalTest/resources/scenarios/bail/RIA-5345-send-bail-summary-uploaded-notification-without-LR.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/email/AdminOfficerBailSummaryUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailSummaryUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/AdminOfficerBailSummaryUploadedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailSummaryUploadedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-626

#628 RIA-5454 Bail application submitted notifications LR and HO
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/resources/scenarios/bail/RIA-5584-RIA-5454-send-bail-application-submitted-notification-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5584-RIA-5454-send-bail-application-submitted-notification-to-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/bail/RIA-5584-send-bail-application-submitted-notification-to-newport-hearing-centre.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailApplicationSubmittedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/hearingcentre/email/HearingCentreSubmitApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailApplicationSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailApplicationSubmittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-628
