Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-05, with the labels that each got.

#629 Ria 5704 update notification template setting
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/ia-case-notifications-api/values.yaml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/CaseType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/email/AdminOfficerBailSummaryUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailApplicationSubmittedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/hearingcentre/email/HearingCentreSubmitApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailApplicationSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailSummaryUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailSmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/GovNotifyConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-629

#631 RIA-5610: Remove unused ccd field definitions
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-631

#630 Ria 5561 notification sms email upload signed decision notice
  src/functionalTest/resources/scenarios/bail/RIA-5561-send-bail-signed-decision-notice-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5561-send-signed-decision-notice-notifications.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-record-the-decision-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-record-the-decision.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/BailEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/email/AdminOfficerBailSummaryUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailSignedDecisionNoticeUploadedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/hearingcentre/email/HearingCentreSubmitApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailSignedDecisionNoticeUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailSignedDecisionNoticeUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailSignedDecisionNoticeUploadedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailSignedDecisionNoticeUploadedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailSignedDecisionNoticeUploadedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-630

#634 Ria 5214 send notifications for application ended
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications.json
  src/functionalTest/resources/templates/minimal-bail-application-ended-not-legally-represented.json
  src/functionalTest/resources/templates/minimal-bail-application-ended.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailApplicationEndedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationEndedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailApplicationEndedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailApplicationEndedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailApplicationEndedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailApplicationEndedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-634

#640 Ria 5597 notifications for send direction
  src/functionalTest/resources/scenarios/bail/RIA-5597-send-direction-sent-notifications.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted-direction-sent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailDirection.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailDirectionSentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailDocumentUploadedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailDirectionSentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailDirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailDirectionSentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailDirectionSentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-640

#642 Ria 5559 edit documents notifications
  src/functionalTest/resources/scenarios/bail/RIA-5559-send-bail-documents-edited-notification-with-LR.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted-edited-documents.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/editbaildocuments/DocumentsEditedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/editbaildocuments/EditBailDocumentService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailDocumentsEditedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailDocumentsEditedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/editbaildocuments/EditBailDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeDocumentsEditedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeDocumentsEditedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-642
