Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-09, with the labels that each got.

#690 Ria 5725 qa fix lr ho notification update payment status
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/config/OpenApiPublisher.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-690

#692 RIA-5587 Add EU appealType
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealType.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-692

#698 RIA-6121 Change HO permission roles for bail notification events v2
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-1647-RIA-1276-RIA-2936-end-appeal-home-office-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2936-end-appeal-home-office-notification-judge-after-listing.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-after-listing-CO.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-698

#699 RIA-6044 LR/HO/TCW receives Notification of Change
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation-notifications-email.json
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation-notifications-sms.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveRepresentationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-699

#702 RIA-6043: Use the correct date format in notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/BaseNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveRepresentationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantRemoveRepresentationPersonalisationLetter.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRemoveRepresentationPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRemoveRepresentationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveRepresentationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantRemoveRepresentationPersonalisationLetterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRemoveRepresentationPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRemoveRepresentationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-702

#706 RIA-6273 pa pay now notification sent when submitted
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-706
