Repository hmcts/ia-case-notifications-api, pull requests merged in 2022-07, with the labels that each got.

#653 RIA-5808: HO/TCW add an addendum - Appellant Notification
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-5808-aip-admin-officer-upload-addendum-evidence-notification.json
  src/functionalTest/resources/scenarios/RIA-5808-aip-case-officer-upload-addendum-evidence-notification.json
  src/functionalTest/resources/scenarios/RIA-5808-aip-home-office-upload-addendum-evidence-notification.json
  src/functionalTest/resources/scenarios/RIA-5811-aip-upload-addendum-evidence-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantHomeOfficeUploadAddendumEvidencePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantTcwUploadAddendumEvidencePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAddendumEvidencePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantHomeOfficeUploadAddendumEvidencePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantTcwUploadAddendumEvidencePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAddendumEvidencePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantHomeOfficeUploadAddendumEvidencePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantTcwUploadAddendumEvidencePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAddendumEvidencePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantHomeOfficeUploadAddendumEvidencePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantTcwUploadAddendumEvidencePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAddendumEvidencePersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-653

#661 upgrade Charts Java plat dependency
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-661

#662 RIA-5833: Adapt existing 'Application Decided' event notificaiton to …
  src/functionalTest/resources/scenarios/RIA-4388-decide-an-application-notification-aip-granted-after-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4388-decide-an-application-notification-aip-granted-after-listing-judge.json
  src/functionalTest/resources/scenarios/RIA-4388-decide-an-application-notification-aip-granted-before-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4389-decide-an-application-notification-aip-refused-after-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4389-decide-an-application-notification-aip-refused-before-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-5308-send-respondent-non-standard-direction-aip-awaiting-respondent-evidence.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantDecideAnApplicationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantDecideAnApplicationPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantDecideAnApplicationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantDecideAnApplicationPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-662

#663 RIA-5835: Make Application - Request judge review updates to notifica…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-663

#664 RIA-5835: code refactoring
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordOutOfTimeDecisionCannotProceedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-664

#665 RIA-5833: Include missing state for 'Decide an application' event's n…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-665

#669 RIA-5835: Update 'AIP Ended appeal' notification template
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-after-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-AO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-CO.json
  src/functionalTest/resources/scenarios/RIA-4321-end-appeal-aip-notification-before-listing-judge.json
  src/functionalTest/resources/scenarios/RIA-4827-appeal-ended-no-payment-status-aip.json
  src/functionalTest/resources/scenarios/RIA-4827-appeal-ended-payment-failed-aip.json
  src/functionalTest/resources/scenarios/RIA-4827-appeal-ended-payment-pending-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSms.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-669
