Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-06, with the labels that each got.

#875 This is to fix decision without hearing for admin
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-before-listing.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-875

#876 RIA-7147
  src/functionalTest/resources/scenarios/RIA-7147-change-direction-due-date-to-appellant-and-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-876

#877 RIA-7041: When 'Mark ready for UT transfer' event is triggered, use p…
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7044-RIA-7045-mark-as-ready-for-transfer-to-upper-tribunal-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7044-RIA-7045-mark-as-ready-for-transfer-to-upper-tribunal-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7045-mark-as-ready-for-transfer-to-upper-tribunal-notification-before-listing-internal.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealReadyForUtTransferPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/uppertribunal/UpperTribunalMarkAsReadyForUtTransferPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAsReadyForUtTransferPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-877

#878 AIP FTPA Read Only -> Master
  src/functionalTest/resources/scenarios/RIA-7147-change-direction-due-date-to-appellant-and-respondent.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-878

#879 RIA-7044 Adding HO Reference number to personalisation for UT notific…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/uppertribunal/UpperTribunalMarkAsReadyForUtTransferPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/uppertribunal/UpperTribunalMarkAsReadyForUtTransferPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-879

#843 AIP FTPA -> Master (DO NOT MERGE)
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction-sms.json
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction.json
  src/functionalTest/resources/scenarios/RIA-7105-non-standard-direction-to-appellant-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7105-non-standard-direction-to-appellant-aip-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7147-change-direction-due-date-to-appellant-and-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-843

#880 RIA-7108 internal DET HO email mapping
  src/functionalTest/resources/scenarios/RIA-6779-internal-ada-case-request-respondent-evidence.json
  src/functionalTest/resources/scenarios/RIA-6780-internal-ada-case-request-response-review-maintained.json
  src/functionalTest/resources/scenarios/RIA-6780-internal-ada-case-request-response-review-withdrawn.json
  src/functionalTest/resources/scenarios/RIA-6781-internal-ada-case-ada-suitability-notification-suitable.json
  src/functionalTest/resources/scenarios/RIA-6781-internal-ada-case-ada-suitability-notification-unsuitable.json
  src/functionalTest/resources/scenarios/RIA-6782-hearing-bundle-is-ready-notification-to-det-ada.json
  src/functionalTest/resources/scenarios/RIA-6784-det-notification-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-6785-det-notification-respondent-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-partially-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-not-addmitted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-refused-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-granted.json
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-granted.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-refused.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdaSuitabilityReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAppealResponsePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/OtherDetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetEmailService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/DetentionEngagementTeamIrcEmailAddressesConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdaSuitabilityReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAppealResponsePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/OtherDetentionEngagementTeamFtpaSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetEmailServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-880

#884 Fix for Sonar check on jenkins pipeline
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdaSuitabilityReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestCaseBuildingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAppealResponsePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/OtherDetentionEngagementTeamFtpaSubmittedPersonalisation.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-884

#885 RIA-7355 AIP journey HO notification for UT transfer event
  src/functionalTest/resources/scenarios/RIA-7093-RIA-7355-mark-as-ready-for-upper-tribunal-transfer-aip-email-sms-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7093-RIA-7355-mark-as-ready-for-upper-tribunal-transfer-aip-email-sms-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-885

#888 RIA-7118: Added LR notification for 'Update Detention Location' Event
  src/functionalTest/resources/scenarios/RIA-7118-update-detention-location-legal-rep-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7118-update-detention-location-legal-rep-notification-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/OtherDetentionFacilityName.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateDetentionLocationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateDetentionLocationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-888

#890 Fix username on functional tests after IDAM change
  config/owasp/suppressions.xml
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerPersonalisationProvider.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-890

#893 RIA-7385 Remove pedantic checkstyle rules
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-893

#895 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-895

#896 RIA-7392 Refactor of HO notif. for Mark as UT event AiP Citizen
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealReadyForUtTransferPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAsReadyForUtTransferPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-896
