Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-04, with the labels that each got.

#808 RIA-6966 LR notification missing listing ref
  Dockerfile
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeDecideAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-808

#804 RIA-7001 Unrep FTPA decision callback error - Appellant notif being sent causing event to fail
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-804

#809 RIA-6957 Updated DetentionEngagementTeamDecideAnApplicationPersonalis…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-809

#810 Update Dockerfile
  Dockerfile
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-810

#807 RIA-6939: Added notification personalisations for Remove Detenetion S…
  src/functionalTest/resources/scenarios/RIA-6939-mark-appeal-as-detained.json
  src/functionalTest/resources/scenarios/RIA-6939-remove-detention-status-internal.json
  src/functionalTest/resources/scenarios/RIA-6939-remove-detention-status.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsDetainedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveDetentionStatusPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsDetainedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveDetentionStatusPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsDetainedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveDetentionStatusPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsDetainedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveDetentionStatusPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-807

#811 RIA-7001 Resident judge FTPA decided callback error.
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-811

#802 RIA-6112 FTPA submitted (AIP) notification
  src/functionalTest/resources/scenarios/RIA-6112-ftpa-submitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-802

#812 RIA-7008 - Merge Master changes to Naba Branch
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-1966-RIA-2936-RIA-6808-aip-send-appeal-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-2774-force-case-progression-notification.json
  src/functionalTest/resources/scenarios/RIA-3220-send-appeal-submitted-payment-pending-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-3488-RIA-4359-RIA-6585-aip-send-appeal-out-of-time-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-3488-RIA-6585-aip-send-appeal-submitted-notifications-to-appellant.json
  src/functionalTest/resources/scenarios/RIA-6573-6611-aip-end-appeal-automatically-notification.json
  src/functionalTest/resources/scenarios/RIA-6671-aip-payment-appeal-ea-notifications.json
  src/functionalTest/resources/scenarios/RIA-6671-aip-payment-appeal-euss-notifications.json
  src/functionalTest/resources/scenarios/RIA-6671-aip-payment-appeal-hu-notifications.json
  src/functionalTest/resources/scenarios/RIA-6682-send-appeal-submitted-with-remission-pa-appeal-type-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealAutomaticallyPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealAutomaticallyPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPayOfflinePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEndAppealAutomaticallyPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEndAppealAutomaticallyPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPayOfflinePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-812

#815 RIA-6858: Fixed CustomerServiceProvider to update the contact details…
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/CustomerServicesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-815

#816 RIA-6112 Tweak notification to standardize it
  src/functionalTest/resources/scenarios/RIA-6112-ftpa-submitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmail.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-816

#803 RIA-6133 Enable existing notifications for AO and HO (AIP FTPA submitted)
  src/functionalTest/resources/scenarios/RIA-6112-ftpa-submitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-803

#820 Ria 7024 appellant ftpa submitted sms
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-6112-ftpa-submitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaSubmittedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaSubmittedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaSubmittedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-820

#821 Ria 6940 remove detained status appellant notification (email/sms)
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-appellant-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-appellant-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-appellant-notification-email-only-after-listing.json
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-appellant-notification-email-only-before-listing.json
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-appellant-notification-sms-only.json
  src/functionalTest/resources/scenarios/RIA-6940-remove-detention-status-no-appellant-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveDetainedStatusPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRemoveDetainedStatusPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveDetainedStatusPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRemoveDetainedStatusPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-821

#822 Ria 6135 ho ftpa decision refused not admitted
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-not-admitted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-not-admitted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-refused-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-refused-aip-journey-resident-judge.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRespondentFtpaApplicationDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRespondentFtpaApplicationDecisionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/FtpaNotificationPersonalisationUtil.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/PersonalisationUtil.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRespondentFtpaApplicationDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRespondentFtpaApplicationDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-822

#828 RIA-6940 Content fix to include appellant name in personlisation
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveDetainedStatusPersonalisationEmail.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRemoveDetainedStatusPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-828

#827 RIA-7030 reinstate appeal notification
  src/functionalTest/resources/scenarios/RIA-7030-reinstate-appeal-internal-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7030-reinstate-appeal-internal-notification-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-827

#829 RIA-6134 Write out due date in notifications that need it
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaApplicationDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaApplicationDecisionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/FtpaNotificationPersonalisationUtil.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaApplicationDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaApplicationDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-829

#823 Ria 6980 HO notification when appeal is decided without hearing
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-6980-decided-without-hearing-ho.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisationTesting.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-823

#830 Appellant's Notification when the Decision Without Hearing option is selected
  src/functionalTest/resources/scenarios/RIA-6980-RIA-6249-decided-without-hearing-ho.json
  src/functionalTest/resources/scenarios/RIA-6980-decided-without-hearing-ho.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantAppealDecisionWithoutHearingPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantAppealDecisionWithoutHearingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantAppealDecisionWithoutHearingPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantAppealDecisionWithoutHearingPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-830

#832 RIA-6948 MakeAnApplication notifications
  src/functionalTest/resources/scenarios/RIA-6072-aip-make-an-application-notification-home-office-apc-after-listing.json
  src/functionalTest/resources/scenarios/RIA-6072-aip-make-an-application-notification-home-office-apc-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMakeAnApplicationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMakeAnApplicationPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMakeAnApplicationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMakeAnApplicationPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-832
