Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-11, with the labels that each got.

#1005 RIA-7948 name_of_branch
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7948-internal-ada-submit-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-7948-internal-non-ada-submit-appeal-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1005

#1006 RIA-7516 Update notification to HO when LO triggers requestRespondentEvidence for an EJP appeal
  src/functionalTest/resources/scenarios/RIA-7516-internal-detained-request-respondent-evidence-notifications-ejp.json
  src/functionalTest/resources/scenarios/RIA-7516-internal-request-respondent-evidence-notifications-ejp.json
  src/functionalTest/resources/templates/minimal-ejp-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1006

#1004 RIA-7791 Notice is sent when hearing is adjourned with no future hearing date
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7991-record-adjournment-details.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerRecordAdjournmentDetailsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRecordAdjournmentDetailsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRecordAdjournmentDetailsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentRecordAdjournmentDetailsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerRecordAdjournmentDetailsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerRecordAdjournmentDetailsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRecordAdjournmentDetailsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentRecordAdjournmentDetailsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1004

#1007 RIA-7882 Add editCaseListing permission for caseworker-ia-system
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1007

#1009 RIA-7734 apply_for_costs_respondent_notification
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-7734_ho_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7734_legalrep_apply_for_costs_respondent_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1009

#1008 RIA-7939 Notice of hearing - Existing HO notification
  src/functionalTest/resources/scenarios/RIA-7558-RIA-7939-internal-detained-non-ada-case-listed.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1008

#997 DIAC-117 adding smoke, unit, integration testing and easy access reports to nightly build
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-997

#1012 RIA-7661 Appeal transferred to the First-tier Tribunal - HO notification
  src/functionalTest/resources/scenarios/RIA-7661-turn-on-notifications-HO-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7661-turn-on-notifications-HO-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentTurnOnNotificationsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentTurnOnNotificationsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1012

#1014 RIA-7929 Decision without a hearing - Existing HO notification
  src/functionalTest/resources/scenarios/RIA-7929-internal-ada-decided-without-hearing-ho.json
  src/functionalTest/resources/scenarios/RIA-7929-internal-non-ada-decided-without-hearing-ho.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1014

#1015 RIA-7622 updating new 16 digit reference field
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNotificationsTurnedOnPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNotificationsTurnedOnPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1015

#1018 RIA-7929 Fix
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisationTesting.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1018

#1016 RIA-7940 Case relisted Existing HO notification
  src/functionalTest/resources/scenarios/RIA-7280-RIA-7940-internal-detained-ada-edit-case-listing.json
  src/functionalTest/resources/scenarios/RIA-7673-RIA-7940-internal-detained-non-ada-edit-case-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1016

#1022 RIA-7950 refactor_existing_notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1022

#944 RIA-5739 Force case event for Case Building to Case Under Review
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseProgressionToCaseUnderReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToCaseUnderReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseProgressionToCaseUnderReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToCaseUnderReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-944, enable_keep_helm

#1024 RIA-7794 respond_to_costs_notification_fix
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_ho_respond_to_costs_notification.json
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_legalrep_respond_to_costs_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1024

#1026 RIA-7930 NSD to appellant
  src/functionalTest/resources/scenarios/RIA-7434-RIA-7930-internal-detained-non-standard-direction-to-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-7436-RIA-7930-internal-detained-non-standard-direction-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-7436-RIA-7930-internal-detained-non-standard-direction-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1026

#1027 RIA-7933 Addendum uploaded - Existing HO notification
  src/functionalTest/resources/scenarios/RIA-7443-internal-ada-legal-officer-upload-addendum-evidence-supplied-by-respondent-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7691-internal-upload-addendum-evidence-admin-officer-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7693-internal-upload-addendum-evidence-admin-officer-det-notification-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7711-internal-detained-legal-officer-upload-addendum-evidence-supplied-by-respondent-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7933-internal-notification-admin-officer-upload-addendum.json
  src/functionalTest/resources/scenarios/RIA-7933-internal-notification-legal-officer-upload-addendum.json
  src/functionalTest/resources/scenarios/RIA-7933-internal-notification-legal-rep-upload-addendum.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1027

#1029 RIA-7733 template_field_change_v2
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_ho_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_legalrep_apply_for_costs_respondent_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsApplicantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/DateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1029

#1031 RIA-7933 Updating ticket remove lr changes
  src/functionalTest/resources/scenarios/RIA-7933-internal-notification-legal-rep-upload-addendum.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1031

#1032 RIA-7950 Refactor_Existing_HO_notification
  src/functionalTest/resources/scenarios/RIA-7950-internal-appeal-exited-online-before-notification.json
  src/functionalTest/resources/scenarios/RIA-7950-internal-make-an-application-notification-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1032

#1023 RIA-7928 Link/Unlink appeal
  src/functionalTest/resources/scenarios/RIA-7375-RIA-7928-internal-ada-maintain-case-link-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-7377-RIA-7928-internal-ada-maintain-case-unlink-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-7694-RIA-7928-internal-non-ada-maintain-case-link-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-7695-RIA-7928-internal-non-ada-maintain-case-lists-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1023

#1033 RIA-7927 existing notification ada update
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1033

#1002 DIAC-77 notifications for when Aip uploads additional evidence from timeline link
  src/functionalTest/resources/scenarios/DIAC-77-notification-of-aip-uploaded-additional-evidence-after-listing.json
  src/functionalTest/resources/scenarios/DIAC-77-notification-of-aip-uploaded-additional-evidence-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAdditionalEvidencePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAdditionalEvidencePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAdditionalEvidencePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAdditionalEvidencePersonalisationSmsTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1002

#1034 RIA-7957 - Existing ADMIN notification, FTPA application granted
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-ada-granted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1034

#1025 DIAC-164 fixing correct appeal notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSms.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1025

#1035 RIA-7930 NSD to appellant
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalization.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalizationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1035

#1036 RIA-7928 Link/Unlink appeal
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1036

#1037 RIA-7958 - Existing ADMIN notification, FTPA application partially gr…
  src/functionalTest/resources/scenarios/RIA-7958_internal_appelant_ftpa_partially_granted_ada.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1037

#1038 RIA-7929 fixed template ID
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1038
