Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-09, with the labels that each got.

#950 RIA-7698 Added internal detained transfer out of ADA notification
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7698-internal-detained-transferred-out-of-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamTransferOutOfAdaPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamTransferOutOfAdaPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-950

#951 RIA-7329 internal ADA/detained non-ada notification for residentJudgeFtpaDecision event when granted, partially granted or refused only
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-appellant.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-appellant.json
  src/functionalTest/resources/scenarios/RIA-6665-ftpa-appellant-not-admitted-in-country.json
  src/functionalTest/resources/scenarios/RIA-6665-ftpa-appellant-partially-granted-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-6665-ftpa-appellant-refused-ada.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-ada-granted.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-ada-refused.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-granted.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-refused.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-951

#954 RIA-7359 RIA-7678 Internal Respondent FTPA Decided notifications
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-partially-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-not-addmitted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-refused-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-7678-internal-respondent-ftpa-decided-granted-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7678-internal-respondent-ftpa-decided-partially-granted-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7678-internal-respondent-ftpa-decided-refused-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalization.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalizationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-954

#956 RIA-7864 Added IA admin email for harmondsworth and yarlswood
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/ia-case-notifications-api/values.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-956

#957 RIA-7359 RIA-7678 Fix for notifications using Leadership event
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-not-addmitted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6805-ftpa-respondent-refused-internal-ada-case.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-957

#958 RIA-7329 RIA-7676 Refactored how link for iaut1 form is built into template content
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisation.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-958

#960 RIA-7873 Added yarlwood to homeOfficeFtpaEmailAddresses map
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/ia-case-notifications-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-960

#961 RIA-7321 RIA-7689 Internal DET notification for update hearing reqs
  src/functionalTest/resources/scenarios/RIA-7321-internal-update-hearing-requirements-ada-notification.json
  src/functionalTest/resources/scenarios/RIA-7689-internal-update-hearing-requirements-non-ada-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUpdateHearingRequirementsPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUpdateHearingRequirementsPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-961

#959 RIA-7346 Added personalisations for Internal Appeal when 'Send Direc…
  src/functionalTest/resources/scenarios/RIA-7436-internal-detained-non-standard-direction-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-7436-internal-detained-non-standard-direction-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentInternalNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HomeOfficeEmailFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamInternalNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentInternalNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/SubjectPrefixesInitializer.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HomeOfficeEmailFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-959

#962 RIA-7329 RIA-7676 unembedded IAUT1 url from iaut1 text in template content
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-962

#963 RIA-7377 RIA-7695 unlink_case
  src/functionalTest/resources/scenarios/RIA-7377-internal-ada-maintain-case-unlink-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-7695-internal-non-ada-maintain-case-lists-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseUnlinkAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-963

#965 RIA-7896 callback error when LO send direction to respondent
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-965

#968 RIA-7426 RIA-7692 Upload additional evidence DET notification
  src/functionalTest/resources/scenarios/RIA-7426-internal-upload-additional-evidence-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7692-internal-upload-additional-evidence-det-notification-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAdditionalEvidencePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAdditionalEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-968

#972 RIA-7437 Updating document tag to match case-docs tag
  src/functionalTest/resources/scenarios/RIA-7436-internal-detained-non-standard-direction-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-7436-internal-detained-non-standard-direction-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamNonStandardDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamInternalNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-972

#974 RIA-7691 RIA-7693 Notification for upload addendum evidence AO
  src/functionalTest/resources/scenarios/RIA-7691-internal-upload-addendum-evidence-admin-officer-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7693-internal-upload-addendum-evidence-admin-officer-det-notification-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAddendumEvidenceAdminOfficerPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAddendumEvidenceAdminOfficerPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-974

#966 RIA-7432 Send DET notifications when LO changes the hearing centre
  src/functionalTest/resources/scenarios/RIA-7432-internal-detained-ada-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7690-internal-detained-change-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeHearingCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeHearingCentrePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-966

#977 RIA-7691 RIA-7693 Send notification only when supplied by appellant
  src/functionalTest/resources/scenarios/RIA-7691-internal-upload-addendum-evidence-admin-officer-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7693-internal-upload-addendum-evidence-admin-officer-det-notification-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-977

#973 RIA-7879 map epims ids to ccd hearing locations
  src/functionalTest/resources/scenarios/RIA-7879-case-listed-notification-harmondsworth-hearing-centre.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-973

#971 RIA-7417 RIA-7707_appeal_edited
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-before-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-7417_appeal_edited_ada_notification.json
  src/functionalTest/resources/scenarios/RIA-7707_appeal_edited_non-ada_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-971

#979 RIA-7470 Added notifications for 'Change Due Date' event for interna…
  src/functionalTest/resources/scenarios/RIA-7470-change-direction-due-date-appellant-only.json
  src/functionalTest/resources/scenarios/RIA-7470-change-direction-due-date-appellant-respondent.json
  src/functionalTest/resources/scenarios/RIA-7696-change-direction-due-date-appellant-only-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7696-change-direction-due-date-appellant-respondent-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeDirectionDueDatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-979
