Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-05, with the labels that each got.

#817 RIA-6560 - Functional tests improvement
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/MapValueExpander.java
  src/functionalTest/resources/scenarios/RIA-3220-send-appeal-submitted-payment-pending-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-6682-send-appeal-submitted-with-remission-pa-appeal-type-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-817

#831 RIA-7031 appealSubmitted HO notif content changes + enable appealSubmitted internal notifs
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-birmingham-hearing-centre-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-glasgow-hearing-centre-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-hatton-cross-hearing-centre-pending-payment.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-north-shields-hearing-centre-pending-payment.json
  src/functionalTest/resources/scenarios/RIA-7031-internal-appeal-submitted-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-new-way-of-paying-internal-appeal-submitted-notification-to-ho.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-and-paylater-notifications.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-dc-appeal-type-notifications.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-ho-disabled.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-bradford-hearing-centre-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-manchester-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-manchester.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-newport-hearing-centre-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-notification-to-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-payment-pending-pay-offline-notifications.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-pending-payment-ea-appeal-type-notification-ho-disabled.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-pending-payment-ea-appeal-type-notifications.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-pending-payment-hu-appeal-type-notification-ho-disabled.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-pending-payment-hu-appeal-type-notifications.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-rp-appeal-type-notification-ho-disabled.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-rp-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-to-home-office-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-to-home-office.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-with-remission-pa-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-with-remission-pending-payment-ea-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-appeal-submitted-with-remission-pending-payment-hu-appeal-type-notification.json
  src/functionalTest/resources/scenarios/RIA-7031-send-internal-paid-appeal-submitted-dc-appeal-type-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-831

#776 RIA-5944 notification address update for CO
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-glasgow-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerChangeHearingCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerChangeHearingCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-776

#834 RIA-6952 Edit notifications to AIP for HO application decisions
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantDecideAnApplicationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantDecideAnApplicationPersonalisationSms.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantDecideAnApplicationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantDecideAnApplicationPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-834

#833 RIA-6947
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNonStandardDirectionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantNonStandardDirectionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNonStandardDirectionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantNonStandardDirectionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-833

#839 CVEs suppressions
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-839

#732 Case Linking -> Master
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/caselinking/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/caselinking/ReasonForLink.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeCreateBailCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeMaintainBailCaseLinksPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeCreateBailCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeMaintainBailCaseLinksPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseLinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeCreateBailCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeMaintainBailCaseLinksPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeCreateBailCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseLinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseUnlinkAppealPersonalisationTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, rel:ia-case-notifications-api-pr-732, add-or-update

#837 RIA-6113: Add missing information to notification template for partia…
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-resident-judge.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaApplicationDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaApplicationDecisionPersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantFtpaApplicationDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantFtpaApplicationDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-837

#841 Rebase from Master
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-glasgow-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/caselinking/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/caselinking/ReasonForLink.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeCreateBailCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeMaintainBailCaseLinksPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeCreateBailCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeMaintainBailCaseLinksPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerChangeHearingCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseLinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeCreateBailCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeMaintainBailCaseLinksPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeCreateBailCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerChangeHearingCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseLinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeCaseUnlinkPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseLinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeCaseUnlinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-841

#840 RIA-7033 decideAnApplication internal notifications + HO/LR application refused content change
  Dockerfile
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-refused-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-apc-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-apc-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-apc-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-apc-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-apc-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-apc-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-apc-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-lart-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-lart-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-lart-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-lart-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-pou-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-pou-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-pou-granted-hc-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-pou-refuse-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-generic-pou-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-lart-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-lart-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-lart-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-lart-refused-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-pou-granted-after-listing-remote-hearing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-pou-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-pou-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-pou-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-home-office-pou-refused-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-notifications-api-pr-840

#842 RIA-6629 appeaEnded LR notifications content change
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-notifications-api-pr-842

#845 RIA-6620 out of time cannot proceed notification content update
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-845

#844 RIA-6641 build case direction updated content
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-2774-force-case-progression-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-844

#848 RIA-6980 HO notification when appeal is decided without hearing v2
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecisionWithoutHearingPersonalisationTesting.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-848

#799 Updated dependencies to remove suppressed CVEs
  Dockerfile
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/StaticPortWiremockFactory.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-799

#851 Merge master
  Dockerfile
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/StaticPortWiremockFactory.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-851

#854 RIA-6947 QA Fixes
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction-sms.json
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNonStandardDirectionOfHomeOfficePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-854

#850 Ria 7109 new email addr for granted part granted ho ftpa decision
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-manchester.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-granted-after-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-granted-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-partially-granted-after-respondent-not-addmitted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-decided-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-partially-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-partially-granted-aip-journey-resident-judge.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-850

#621 Ria 5679
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-621

#853 RIA-7044 Mark as ready for transfer to UT notification
  src/functionalTest/resources/scenarios/RIA-7044-mark-as-ready-for-transfer-to-upper-tribunal-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7044-mark-as-ready-for-transfer-to-upper-tribunal-notification-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/uppertribunal/UpperTribunalMarkAsReadyForUtTransferPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/uppertribunal/UpperTribunalMarkAsReadyForUtTransferPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-853

#861 Ria 7109 transpose new email changes from ho to admin
  src/functionalTest/resources/scenarios/RIA-1431-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-1432-RIA-2974-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-granted-after-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-granted-after-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-appellant-partially-granted-after-respondent-not-addmitted.json
  src/functionalTest/resources/scenarios/RIA-2999-ftpa-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-decided-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-appellant-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-respondent-granted-after-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-granted-aip-journey-resident-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-partially-granted-aip-journey-leadership-judge.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-partially-granted-aip-journey-resident-judge.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionAppellantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecisionRespondentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-861

#857 RIA-7147 Notifications for 'changeDirectionDueDate' to appellant for …
  src/functionalTest/resources/scenarios/RIA-7147-change-appellant-direction-due-date-to-appellant.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantChangeDirectionDueDateOfAppellantPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantChangeDirectionDueDateOfAppellantPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantChangeDirectionDueDateOfAppellantPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantChangeDirectionDueDateOfAppellantPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-857

#865 RIA-7105: Fix issue with NSD notifications to Home Office
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-865

#866 RIA-7188: Disable non FTPA features (For FTPA release preparation)
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction-sms.json
  src/functionalTest/resources/scenarios/RIA-6974-send-home-office-non-standard-direction.json
  src/functionalTest/resources/scenarios/RIA-7105-non-standard-direction-to-appellant-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7105-non-standard-direction-to-appellant-aip-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-866

#870 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-870

#872 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-872

#871 RIA-7146: Fix issue in functional tests
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7146-non-standard-direction-to-appellant-and-respondent-aip-before-listing.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-871
