Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-12, with the labels that each got.

#1040 DIAC-123 suppression update 04/12/23
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1040

#1043 DIAC-123 dependency 07/12/23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1043

#1044 RIA-7808 additional evidence submitted notification
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7808_HO_additional_evidence_to_costs_notification_other_party.json
  src/functionalTest/resources/scenarios/RIA-7808_LR_additional_evidence_to_costs_notification_other_party.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedHoCostsPersonilisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedLrCostsPersonilisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedHoCostsPersonilisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedLrCostsPersonilisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1044

#1046 RIA-7969 give system user permission to sendBailDirection
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1046

#1049 RIA-8112 - Send HO upload bail summary notification
  src/functionalTest/resources/scenarios/bail/RIA-8112-HO-upload-bail-summary-direction-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1049

#1052 DIAC-184 build fix 18-12-23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1052

#1050 RIA-7794 refactoring_notifications_utils
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7808_HO_additional_evidence_to_costs_notification_other_party.json
  src/functionalTest/resources/scenarios/RIA-7808_LR_additional_evidence_to_costs_notification_other_party.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedLrCostsPersonilisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedOtherPartyNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedLrCostsPersonilisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedOtherPartyNotificationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsApplicantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ApplyForCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsApplicantPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/RespondToCostsRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1050

#1041 DIAC-151 Fix AiP reinstate appeal notifications
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1041

#1055 RIA-8179 Send relistCaseNotification only when case is not integrated.
  src/functionalTest/resources/scenarios/RIA-8179-re-list-case-with-integrated-case-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1055
