Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-03, with the labels that each got.

#773 RIA-6859 DET email address for ADA unrepresented notifications
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetEmailService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetEmailServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-773

#771 RIA-6811 Add Det personalisation, MakeAnApplicationType model, beans
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-granted.json
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-refused.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/MakeAnApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-771

#774 RIA-6812 Notification to DET when Home office application is decided for internal ADA case
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-granted.json
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-granted.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-refused.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-774

#772 RIA-6864: Created EmailNotificationGenerator to accept personalisatio…
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/consumer/IdamApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/EmailWithLinkNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationWithLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailWithLinkNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/DocumentDownloadClient.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/JacksonConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/DocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-772

#779 RIA-6780: Request response review notification for internal ADA cases
  src/functionalTest/resources/scenarios/RIA-6780-internal-ada-case-request-response-review-maintained.json
  src/functionalTest/resources/scenarios/RIA-6780-internal-ada-case-request-response-review-withdrawn.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestResponseReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/TestUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestResponseReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-779

#780 RIA-6782: Enabled notification for DET when Hearing bundle is ready
  src/functionalTest/resources/scenarios/RIA-6782-hearing-bundle-is-ready-notification-to-det-ada.json
  src/functionalTest/resources/templates/minimal-internal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/TestUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestResponseReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-780

#775 Ria 6779 det ada email
  src/functionalTest/resources/scenarios/RIA-6779-internal-ada-case-request-respondent-evidence.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-775

#781 Ria 6920 enable preexisting notifications
  charts/ia-case-notifications-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-granted.json
  src/functionalTest/resources/scenarios/RIA-6811-internal-ada-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-granted.json
  src/functionalTest/resources/scenarios/RIA-6812-internal-ada-case-decide-an-application-other-refused.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMakeAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-781

#782 Ria 6781 ada suitability review notification to DET - Unrepresented/internal cases
  src/functionalTest/resources/scenarios/RIA-6781-internal-ada-case-ada-suitability-notification-suitable.json
  src/functionalTest/resources/scenarios/RIA-6781-internal-ada-case-ada-suitability-notification-unsuitable.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdaSuitabilityReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdaSuitabilityReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-782

#783 RIA-6780: Fix issue with parsing 'hearing date'
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestResponseReviewPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestResponseReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-783

#787 RIA-6784: Appellant's FTPA submitted notification for Internal ADA cases
  src/functionalTest/resources/scenarios/RIA-6784-det-notification-appellant-ftpa-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-787

#788 RIA-6785 Home Office's FTPA submitted notification for Internal ADA cases
  src/functionalTest/resources/scenarios/RIA-6785-det-notification-respondent-ftpa-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/OtherDetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/OtherDetentionEngagementTeamFtpaSubmittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-788

#794 RIA-6803 HO's FTPA granted/partially granted notification
  charts/ia-case-notifications-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-granted-internal-ada-case.json
  src/functionalTest/resources/scenarios/RIA-6803-ftpa-respondent-partially-granted-internal-ada-case.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentFtpaApplicationDecidedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-794

#796 RIA-6858 Make CustomerServicesProvider pick between different emails
  build.gradle
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-RIA-6701-send-edit-appeal-after-submit-before-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-send-edit-appeal-after-submit-after-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-1497-RIA-2338-send-edit-appeal-after-submit-before-listing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/ApplicationContextProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailWithLinkNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/CustomerServicesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/ApplicationContextProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-796

#798 RIA-6848 Giving Judge event authorisation for Review Hearing Requirem…
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-798

#801 RIA-6970 - Removing admin notifications for the following events & up…
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-1373-RIA-2936-notification-of-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-1373-RIA-2936-notification-of-respondent-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-appellant-ftpa-submitted-ho-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3313-respondent-ftpa-submitted-ho-notification-failure.json
  src/functionalTest/resources/scenarios/RIA-3631-notification-of-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3631-notification-of-respondent-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-6784-det-notification-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-6785-det-notification-respondent-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-6802-notification-of-appellant-ftpa-submitted-for-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-801

#800 RIA-6696 HO decide an application not showing Aria Listing Ref
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-800
