Repository hmcts/ia-case-notifications-api, pull requests merged in 2023-10, with the labels that each got.

#978 RIA-7466 RIA-7710 RIA-7369 RIA-7709 HO uploads additional/addendum evidence detained/ADA notification
  src/functionalTest/resources/scenarios/RIA-7369-internal-ada-home-office-upload-additional-evidence-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7466-internal-ada-home-office-upload-addendum-evidence-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7709-internal-detained-home-office-upload-additional-evidence-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7710-internal-detained-home-office-upload-addendum-evidence-det-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHomeOfficeUploadAdditionalAddendumEvidencePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHomeOfficeUploadAdditionalAddendumEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-978

#980 RIA-7443 RIA-7711 internal LO upload addendum evidence supplied by respondent DET notification
  src/functionalTest/resources/scenarios/RIA-7443-internal-ada-legal-officer-upload-addendum-evidence-supplied-by-respondent-det-notification.json
  src/functionalTest/resources/scenarios/RIA-7711-internal-detained-legal-officer-upload-addendum-evidence-supplied-by-respondent-det-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamLegalOfficerUploadAddendumEvidence.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamLegalOfficerUploadAddendumEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-980

#982 RIA-7443 RIA-7711 Sonar fix optional.isEmpty/isPresent check
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-982

#986 DIAC-2 Updating schedule for renovate config as previous setting was …
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-986

#983 RIA-7428 RIA-7712 Notification for internal reinstate appeal
  src/functionalTest/resources/scenarios/RIA-7428-internal-reinstate-appeal-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7712-internal-reinstate-appeal-det-notification-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamReinstateAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamReinstateAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-983

#988 RIA-7438 RIA-7697
  src/functionalTest/resources/scenarios/RIA-7438-internal-detained-ada-change-ho-direction-due-date.json
  src/functionalTest/resources/scenarios/RIA-7697-internal-detained-non-ada-change-ho-direction-due-date.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeHoDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamChangeHoDirectionDueDatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-988

#976 SNI-4610 Fix uploadAdditionalEvidenceHomeOffice event notifications
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadAdditionalEvidencePersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadAdditionalEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-976

#984 RIA-7195 remove listing reference number from notification template
  src/functionalTest/resources/scenarios/RIA-1380-case-listed-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-case-listed-notification-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-notification-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1610-RIA-437-RIA-438-case-listed-notification-manchester-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1610-RIA-437-RIA-438-case-listed-notification-taylor-house-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1616-admin-office-edit-case-listing-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-case-listed-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-glasgow-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-hatton-cross-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2011-case-listed-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2252-edit-case-listing-notification-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-coventry-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-glasgow-tribunal-centre-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-newcastle-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2323-case-listed-notification-nottingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3631-case-listed-notification-nottingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3631-edit-case-listing-notification-north-shields-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3720-case-listed-notification-birmingham-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3720-case-listed-notification-remote-hearing.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-notification-remote-hearing-no-change.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-notification-remote-hearing.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-notification-transfer-hearing-centre-to-remote.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-notification-transfer-remote-to-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-4712-aip-edit-listing-notification.json
  src/functionalTest/resources/scenarios/RIA-4861-case-listed-notification-birmingham-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-4975-case-listed-notification-remote-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-7879-case-listed-notification-harmondsworth-hearing-centre.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-984

#994 DIAC-000 Dependency fix
  .github/workflows/pr-title-validation.yml
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-994

#995 DIAC-000 update swagger test pointing name
  .github/workflows/swagger.yml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-995

#993 RIA-7964 Removing HO DET notification when a Non standard direction is…
  src/functionalTest/resources/scenarios/RIA-7436-internal-detained-non-standard-direction-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-993

#992 RIA-7537 EJP LO additional events
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-992

#970 DIAC-14 nightly fix
  Jenkinsfile_nightly
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/BadRequestsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAdjournHearingWithoutDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEditListingPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEditListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerAdjournHearingWithoutDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerSubmittedHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerUploadAddendumEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerUploadAdditionalEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPayOfflinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPendingPaymentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEditListingNoChangePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeUploadAddendumEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeUploadAdditionalEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAddAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAdjournHearingWithoutDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPaidPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayLaterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPayOfflinePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPendingPaymentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeAppealSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeChangeDirectionDueDateOfHomeOfficePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeChangeDirectionDueDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEditListingNoChangePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEndAppealAutomaticallyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseProgressionToCaseUnderReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNonStandardDirectionOfHomeOfficePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePaymentPaidPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativePendingPaymentPaidPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReinstateAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemissionDecisionApprovedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestFeeRemissionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestNewHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeSubmittedHearingRequirementsPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadAddendumEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadAdditionalEvidencePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-970

#991 DIAC-2 adding renovate config option for exclusion of major updates
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-991

#999 RIA-8888 Upgraded java chart version to 5.0.0
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-999

#998 RIA-7947 Adding notification for Appeal Submitted
  src/functionalTest/resources/scenarios/RIA-7544-internal-detained-mark-appeal-paid-notifications-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-998

#1001 RIA-7947 adding notification sent to home office for mark an appeal as paid.
  src/functionalTest/resources/scenarios/RIA-7544-internal-detained-mark-appeal-paid-notifications-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsPaidPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1001
