Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-01, with the labels that each got.

#1056 RIA-7812 consider_costs_order
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_ho_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_legalrep_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_ho_respond_to_costs_notification.json
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_legalrep_respond_to_costs_notification.json
  src/functionalTest/resources/scenarios/RIA-7812_consider_making_costs_order_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ConsiderMakingCostOrderHoPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ConsiderMakingCostOrderLegalRepPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ConsiderMakingCostOrderHoPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/ConsiderMakingCostOrderLegalRepPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1056

#1057 RIA-7810 decide a costs notification
  src/functionalTest/resources/scenarios/RIA-7810_Judge_Decide_a_Costs_Home_Office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonilsation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonilsationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1057

#1059 RIA-8349 RIA-8352 Bail case listing notifications
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/bail/RIA-8112-HO-upload-bail-summary-direction-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-initial-case-listing-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-relisting-case-listing-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1059

#1060 RIA-7807 Additional evidence submitted - Submitter Notification
  src/functionalTest/resources/scenarios/RIA-7807_HO_additional_evidence_to_costs_notification_submitter.json
  src/functionalTest/resources/scenarios/RIA-7807_LR_additional_evidence_to_costs_notification_submitter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AddEvidenceForCostsSubmittedSubmitterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AddEvidenceForCostsSubmittedSubmitterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1060

#1058 DIAC-109 turning on fortify
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1058

#1061 RIA-8349 RIA-8352 Updated notification subjects for relisting FTs
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-relisting-case-listing-notifications.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1061

#1062 RIA-7810 decide costs rename refactor
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1062

#1063 RIA-8455 locations on case listing event are correct
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1063

#1065 RIA-8486 Update personalisation for 'Case Listing' to include Hearing…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1065

#1045 DIAC-179 - Do not send email to 'No email address for decisions made without hearing' email
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1045

#1070 RIA-8507 Fix the field type for fcs_has_passport in BailCaseFieldDefi…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1070

#1071 RIA-8454 end_app_ut_notification
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/uppertribunal/UpperTribunalApplicationEndedImaPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/uppertribunal/UpperTribunalApplicationEndedImaPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1071

#1073 RIA-7759 - Hearing update displays which adjustments have been granted
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1073

#1075 RIA-8195 ima_showing_condition_fix
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications-not-legally-represented.json
  src/functionalTest/resources/scenarios/bail/RIA-5214-send-application-ended-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1075

#1074 RIA-7352 Notice of hearing displays which adjustments have been granted
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1074

#826 RIA-6987 - Changes to add cache
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/GetWelcomeIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-826, enable_keep_helm

#1079 RIA-8198 fix_authorisations
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1079

#1064 RIA-TASK - Merge master changes to NABA - ia-case-notifications-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Dockerfile
  Jenkinsfile_nightly
  README.md
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/functionalTest/resources/scenarios/DIAC-77-notification-of-aip-uploaded-additional-evidence-after-listing.json
  src/functionalTest/resources/scenarios/DIAC-77-notification-of-aip-uploaded-additional-evidence-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAdditionalEvidencePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAdditionalEvidencePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseProgressionToCaseUnderReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToCaseUnderReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUploadAdditionalEvidencePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantForceCaseProgressionToCaseUnderReviewPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUploadAdditionalEvidencePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeReinstateAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseProgressionToCaseUnderReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToCaseUnderReviewPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1064

#1082 RIA-8198 refused_notification
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/uppertribunal/UpperTribunalDecisionRefusedImaPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/uppertribunal/UpperTribunalDecisionRefusedImaPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1082
