Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-04, with the labels that each got.

#1136 RIA-8767 Missing HO notification for Update Tribunal Decision R32 AIP
  src/functionalTest/resources/scenarios/RIA-8222-update-tribunal-decision-r32-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1136

#1130 RIA-8774 functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/StringResourceLoader.java
  src/functionalTest/resources/scenarios/RIA-4559-reinstate-appeal-notification-after-listing-aip.json
  src/functionalTest/resources/scenarios/RIA-4559-unlink-appeal-after-listing-notification-aip.json
  src/functionalTest/resources/scenarios/RIA-4861-case-listed-notification-birmingham-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-4975-case-listed-notification-remote-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-8192-adjourn-hearing-without-date-list-assist-integrated.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1130

#1138 RIA-8888 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1138

#1137 RIA-TASK - Fix failed functional tests
  src/functionalTest/resources/scenarios/RIA-4559-unlink-appeal-after-listing-notification-aip.json
  src/functionalTest/resources/scenarios/RIA-7323-internal-non-ada-adjourn-hearing-without-date-notification.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-ada-granted.json
  src/functionalTest/resources/scenarios/RIA-7662-7663-turn-on-notifications-lr-and-appellant-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7662-7663-turn-on-notifications-lr-and-appellant-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_ho_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7733-RIA-7734_legalrep_apply_for_costs_respondent_notification.json
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_ho_respond_to_costs_notification.json
  src/functionalTest/resources/scenarios/RIA-7795-RIA-7796_legalrep_respond_to_costs_notification.json
  src/functionalTest/resources/scenarios/RIA-7808_HO_additional_evidence_to_costs_notification_other_party.json
  src/functionalTest/resources/scenarios/RIA-7808_LR_additional_evidence_to_costs_notification_other_party.json
  src/functionalTest/resources/scenarios/RIA-7810_Judge_Decide_a_Costs_notifications_to_HO_and_LR.json
  src/functionalTest/resources/scenarios/RIA-7958_internal_appelant_ftpa_partially_granted_ada.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-submit-appeal-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1137

#1141 RIA-8083 RIA-8084 RIA-8085 - AiP Notification (Email/SMS)
  src/functionalTest/resources/scenarios/RIA-8083-aip-appellant-notifications-refund-decision-approved.json
  src/functionalTest/resources/scenarios/RIA-8084-aip-appellant-notifications-refund-decision-partially-approved.json
  src/functionalTest/resources/scenarios/RIA-8085-aip-appellant-notifications-refund-decision-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordRefundDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordRefundDecisionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRecordRefundDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantRecordRefundDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1141

#1143 RIA-8063 remission partially approved LR notification
  src/functionalTest/resources/scenarios/RIA-3690-8063-remission-decision-partially-approved.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemissionDecisionPartiallyApprovedPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemissionDecisionPartiallyApprovedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1143

#1107 RIA-8723 Merge SNL (BAILS) - > Master (DO NOT MERGE)
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/StringResourceLoader.java
  src/functionalTest/resources/scenarios/RIA-4559-unlink-appeal-after-listing-notification-aip.json
  src/functionalTest/resources/scenarios/RIA-4861-case-listed-notification-birmingham-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-4975-case-listed-notification-remote-hearing-centre-aip.json
  src/functionalTest/resources/scenarios/RIA-7879-case-listed-notification-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/bail/RIA-8112-HO-upload-bail-summary-direction-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-initial-case-listing-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-relisting-case-listing-notifications.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1107

#1146 RIA-8609 - Cherry picked 16/04/2024 ca5872e5
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/StringResourceLoader.java
  src/functionalTest/resources/scenarios/RIA-4559-unlink-appeal-after-listing-notification-aip.json
  src/functionalTest/resources/scenarios/RIA-7879-case-listed-notification-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/bail/RIA-8112-HO-upload-bail-summary-direction-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-initial-case-listing-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-relisting-case-listing-notifications.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1146

#1144 RIA-8230 Refactor to enable scenario with no completedStages
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1144

#1147 RIA-8888 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1147

#1149 RIA-1111 fix_build
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AppealDecisionTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1149

#1151 RIA-8247 manage_fee_update
  src/functionalTest/resources/scenarios/RIA-8247-manage-fee-update-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeTribunalAction.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeUpdateReason.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantManageFeeUpdatePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantManageFeeUpdatePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/CommonUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantManageFeeUpdatePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantManageFeeUpdatePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/CommonUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1151

#1158 RIA-8819 Updated events to handle remitted state
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1158

#1152 RIA-8246 Legal rep notification for Manage Fee Update - Additional payment
  src/functionalTest/resources/scenarios/RIA-8246-legal-rep-manage-fee-additional-payment-requested-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeUpdateReason.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeTribunalActionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeUpdateReasonTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1152

#1155 RIA-8807 Make an application event in the Remitted state
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1155

#1153 RIA-8831 list case hearing centre address
  src/functionalTest/resources/scenarios/RIA-7195-aip-case-listed-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7195-aip-edit-case-listing-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7195-case-listed-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7195-case-listed-notification-with-integrated-remote-hearing.json
  src/functionalTest/resources/scenarios/RIA-7195-edit-case-listing-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-7195-edit-case-listing-notification-with-integrated-remote-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1153

#1162 RIA-8626 Fixed Remitted state HO emails for decide application
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1162

#1163 RIA-TASK - Fix nightly tests
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1163

#1150 RIA-8064 Payment reminder legal rep remission request
  src/functionalTest/resources/scenarios/RIA-8064-payment-reminder-remission-legal-rep-partiallyapproved.json
  src/functionalTest/resources/scenarios/RIA-8064-payment-reminder-remission-legal-rep-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRemissionPaymentReminderPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRemissionPaymentReminderPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1150

#1164 RIA-8831 Base listing address on loc ref data field
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1164
