Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-05, with the labels that each got.

#1161 RIA-8803 bails notifications displays the correct location information SNL
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-initial-case-listing-notifications-with-ref-data-location.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-initial-case-listing-notifications-with-remote-hearing.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-relisting-case-listing-notifications-ref-data-location.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-relisting-case-listing-notifications-remote-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1161

#1160 RIA-8803 bails notifications displays the correct location information
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-initial-case-listing-notifications-with-ref-data-location.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-initial-case-listing-notifications-with-remote-hearing.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-relisting-case-listing-notifications-ref-data-location.json
  src/functionalTest/resources/scenarios/bail/RIA-8803-send-bail-relisting-case-listing-notifications-remote-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1160

#1168 RIA-8831 remove is integrated check for ref data address
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1168

#1167 RIA-TASK - Fix nightly FTs
  src/functionalTest/resources/scenarios/RIA-7615-appeal-fee-is-due-det-notification-remission-rejected.json
  src/functionalTest/resources/scenarios/RIA-7911-internal-update-hearing-adjustments-non-ada-notification.json
  src/functionalTest/resources/scenarios/RIA-7948-internal-non-ada-submit-appeal-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1167

#1171 RIA-TASK - Fix nightly FTs
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-granted.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-refused.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1171

#1172 DIAC-123 dropping mutation threshhold to 85
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1172

#1173 DIAC-366 CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1173

#1169 RIA-8061 aip payment reminder remission
  src/functionalTest/resources/scenarios/RIA-8061-aip-payment-reminder-remission-rejected.json
  src/functionalTest/resources/scenarios/RIA-806100-aip-payment-reminder-remission-partiallyapproved.json
  src/functionalTest/resources/scenarios/RIA-8160-decide-ftpa-under-rule-31-notification-appellant.json
  src/functionalTest/resources/scenarios/RIA-8160-decide-ftpa-under-rule-32-notification-respondent.json
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-respondent-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipRemissionRequestAutomaticReminderEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipRemissionRequestAutomaticReminderSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AiPRemissionRequestAutomaticReminderEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AiPRemissionRequestAutomaticReminderSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1169

#1170 RIA-8297 Send Letter notification type implementation
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/LetterNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/LetterNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/RetryableNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/RetryableNotificationClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1170

#1181 RIA-8941 Fix issue with hearing address
  src/functionalTest/resources/scenarios/RIA-4712-aip-edit-listing-notification.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1181

#1183 RIA-8944 fix the incorrect email notification triggered for LO and HO
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEditListingPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerEditListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeEditListingPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1183

#1185 RIA-TASK - Fix nightly functional tests.
  src/functionalTest/resources/scenarios/RIA-7615-appeal-fee-is-due-det-notification-remission-rejected.json
  src/functionalTest/resources/scenarios/RIA-7911-internal-update-hearing-adjustments-non-ada-notification.json
  src/functionalTest/resources/scenarios/RIA-7948-internal-non-ada-submit-appeal-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1185

#1188 DIAC-401 bump chart version
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1188

#1190 RIA-8913 - Updates to enable HO bail events for HO POU users
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1190

#1189 RIA-TASK - REMITTED -> MASTER (DO NOT MERGE)
  src/functionalTest/resources/scenarios/RIA-8258-mark-appeal-as-remitted.json
  src/functionalTest/resources/scenarios/RIA-8260-mark-appeal-as-remitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1189

#1194 RIA-8941 Fix issue with 'Edit case listing' notification for remote …
  src/functionalTest/resources/scenarios/RIA-8941-aip-edit-listing-notification-remote-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1194

#1176 RIA-8297 Personalisation for Submit Appeal In Time letter
  src/functionalTest/resources/scenarios/RIA-8297-internal-aip-submit-appeal-with-exemption-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1176

#1197 RIA-8064 record remission decision rejected fix
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRemissionPaymentReminderPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRemissionPaymentReminderPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1197

#1199 RIA-8064 fix sonar cloud issues
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisation.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1199

#1200 RIA-8061 - Payment Reminder - AiP Notification - fixing rejected
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipRemissionRequestAutomaticReminderEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipRemissionRequestAutomaticReminderSms.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AiPRemissionRequestAutomaticReminderEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AiPRemissionRequestAutomaticReminderSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1200

#1201 RIA-0000 to resolve merge conflicts with master
  src/functionalTest/resources/scenarios/RIA-7323-internal-ada-adjourn-hearing-without-date-notification.json
  src/functionalTest/resources/scenarios/RIA-7323-internal-non-ada-adjourn-hearing-without-date-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1201

#1202 RIA-8302 - Paper appeal submitted late with remission request- Non De…
  src/functionalTest/resources/scenarios/RIA-8302-internal-aip-submit-appeal-out-of-time-with-remission-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1202

#1203 RIA-TASK Merge master to internal
  charts/ia-case-notifications-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-granted.json
  src/functionalTest/resources/scenarios/RIA-7329-internal-appellant-ftpa-rj-decided-detained-non-ada-refused.json
  src/functionalTest/resources/scenarios/RIA-7615-appeal-fee-is-due-det-notification-remission-rejected.json
  src/functionalTest/resources/scenarios/RIA-7911-internal-update-hearing-adjustments-non-ada-notification.json
  src/functionalTest/resources/scenarios/RIA-7948-internal-non-ada-submit-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-8258-mark-appeal-as-remitted.json
  src/functionalTest/resources/scenarios/RIA-8260-mark-appeal-as-remitted-aip.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/MakeAnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1203

#1205 DIAC-401 Update Chart Version
  charts/ia-case-notifications-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1205
