Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-12, with the labels that each got.

#1339 DIAC-546 Revert "DIAC-546 - Revert "DIAC-546 - writing failed notifications to notifications tab""
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailSmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/LetterNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-notifications-api-pr-1339

#1342 DIAC-546 - Revert DIAC-546 - writing failed notifications to notifications tab
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailSmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/LetterNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1342

#1343 DIAC-546 - Revert DIAC-546 - writing failed notifications to notifications tab
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailSmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/LetterNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/BailGovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/GovNotifyNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1343
