Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-02, with the labels that each got.

#1083 DIAC-228 fixing bouncycastle issues
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1083

#1084 RIA-8101 DLRM judge rework
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-appellant-taylor-house-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-allowed-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-dismissed-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-not-admitted-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-refused-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-3003-ftpa-applicant-appeal-decision-reheard-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-granted-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIA-4352-ftpa-applicant-appeal-decision-partially-granted-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2975-RIS-3003-ftpa-applicant-appeal-decision-not-admitted-responden-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-birmingham-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-allowed-after-respondent-dismissed-manchester-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-refused-after-respondent-granted-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-bradford-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-appellant-reheard-after-respondent-granted-taylor-house-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-glasgow-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-dismissed-after-appellant-allowed-manchester-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-glasgow-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-2999-RIA-3003-ftpa-respondent-reheard-after-appellant-refused-taylor-house-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3631-ftpa-applicant-appeal-decision-allowed-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3631-ftpa-applicant-appeal-decision-reheard-rule-35-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-32-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3651-ftpa-applicant-appeal-decision-reheard-rule-35-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-3855-ftpa-submitted-respondent-granted-after-appellant-granted-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-granted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6113-applicant-ftpa-decision-partially-granted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-granted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6116-respondent-ftpa-decision-partially-granted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6134-appellant-ftpa-decision-not-admitted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6134-appellant-ftpa-decision-refused-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-not-admitted-aip-journey-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-6135-respondent-ftpa-decision-refused-aip-journey-resident-judge-new.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1084

#1085 RIA-8184 decide_ftpa_31_32
  src/functionalTest/resources/scenarios/RIA-8184_decide_ftpa_under_rule_31_32_appellant_notification.json
  src/functionalTest/resources/scenarios/RIA-8184_decide_ftpa_under_rule_31_32_respondent_notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FtpaDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantDisposeUnderRule31Or32PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantDisposeUnderRule31Or32PersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantDisposeUnderRule31Or32PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantDisposeUnderRule31Or32PersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1085

#1086 RIA-8160 Decide FTPA application rule31 rule32 notifications
  src/functionalTest/resources/scenarios/RIA-8160-decide-ftpa-under-rule-31-notification-appellant.json
  src/functionalTest/resources/scenarios/RIA-8160-decide-ftpa-under-rule-32-notification-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecidedRule31Rule32Personalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecidedRule31Rule32Personalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeFtpaApplicationDecidedRule31Rule32PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeFtpaApplicationDecidedRule31Rule32PersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1086

#1087 RIA-8203 appellant_reheard_35
  src/functionalTest/resources/scenarios/RIA-8203-FTPA set aside to be reheard under rule 35 - AiP Notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantReheardUnderRule35PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantReheardUnderRule35PersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantReheardUnderRule35PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantReheardUnderRule35PersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1087

#1081 DIAC-195 updating PaymentStatus.java to match case api
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1081

#1088 RIA-8602 - Turn on notifications for Non detained EJP cases
  build.gradle
  src/functionalTest/resources/scenarios/RIA-8602-ftpa-respondent-granted-internal-non-detained-case.json
  src/functionalTest/resources/scenarios/RIA-8602-hearing-bundle-is-ready-notification-non-detained.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-ada-case-request-respondent-evidence.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-decide-an-application-notification-admin-officer-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-decide-an-application-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-maintain-case-link-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-maintain-case-lists-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-mark-appeal-paid-notifications-non-ada.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-ada-case-listed.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-ada-edit-case-listing.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-standard-direction-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-standard-direction-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-standard-direction-to-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-notification-admin-officer-upload-addendum.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-notification-legal-officer-upload-addendum.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-submit-appeal-notification.json
  src/functionalTest/resources/scenarios/RIA-8602-notification-of-respondent-ftpa-submitted-non-detained.json
  src/functionalTest/resources/scenarios/RIA-8602-respondent-notification-appellant-ftpa-submitted-non-detained.json
  src/functionalTest/resources/scenarios/RIA-8602-send-edit-appeal-after-submit-after-listing-notification-non-detained.json
  src/functionalTest/resources/scenarios/RIA-8602_internal_non_detained_appelant_ftpa_partially_granted_ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementApplyForFtpaRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideARespondentApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamLegalOfficerUploadAddendumEvidence.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseLinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseUnlinkAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMarkAsPaidPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAddendumEvidenceAdminOfficerPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/DetentionEngagementTeamInternalNonStandardDirectionToRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementApplyForFtpaRespondentPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppellantFtpaDecidedByResidentJudgePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideARespondentApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamFtpaSubmittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingBundleReadyPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamInternalNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamLegalOfficerUploadAddendumEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCasePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseLinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMaintainCaseUnlinkAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamMarkAsPaidPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRespondentReviewPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUploadAddendumEvidenceAdminOfficerPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentInternalNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1088

#1090 RIA-7809 - Fix for missing respondToCostsList error
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1090

#1092 RIA-7810 - Decision notifications should send to both LR and HO
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsRespondentAndApplicantPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1092

#1094 RIA-8203 add_toggler_condition
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1094

#1096 RIA-8505 Implementation and testing
  src/functionalTest/resources/scenarios/RIA-8505-FTPA set aside to be reheard under rule 35 appellant - HO Notification.json
  src/functionalTest/resources/scenarios/RIA-8505-FTPA set aside to be reheard under rule 35 respondent- HO Notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentReheardUnderRule35PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentReheardUnderRule35PersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1096

#1095 RIA-8053 Add Apellant submitted with remission request Email and SMS notifications
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-dlrm-feature-flag-disabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-without-remission-and-dlrm-feature-flag-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmittedWithRemissionRequestPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmittedWithRemissionRequestPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmittedWithRemissionRequestPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmittedWithRemissionRequestPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1095

#1097 RIA-7664 - Appeal transferred to First-tier Tribunal - Unrepresented Appellant notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNotificationsTurnedOnPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNotificationsTurnedOnPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNotificationsTurnedOnPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantNotificationsTurnedOnPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1097

#1098 RIA-7810 - Decides Costs notifiation to LR and HO headers update
  src/functionalTest/resources/scenarios/RIA-7810_Judge_Decide_a_Costs_notifications_to_HO_and_LR.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsHomeOfficePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsLegalRepPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsHomeOfficePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/DecideCostsLegalRepPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1098

#1076 DIAC-207 Skip failed SMS notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/BailEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/SmsNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/helper/NotificationSenderHelperTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1076

#1102 RIA-8053 Modify remissionType to remissionOption to integrate with Aip
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-dlrm-feature-flag-disabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-without-remission-and-dlrm-feature-flag-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/RemissionOption.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1102

#1099 RIA-7807 - Additional evidence submitted - Submitter/respondent Notif…
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AddEvidenceForCostsSubmittedSubmitterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedOtherPartyNotificationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AddEvidenceForCostsSubmittedSubmitterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/applyforcosts/AdditionalEvidenceSubmittedOtherPartyNotificationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1099

#1103 RIA-7807 - Suppress CVE
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1103
