Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-08, with the labels that each got.

#1284 DIAC-550 replacing yarlswood with yarlsWood to fix issues
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentre.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1284

#1289 RIA-9232 Change oocCountry type from text to Nationality
  src/functionalTest/resources/scenarios/RIA-8304-internal-ho-direction-to-review-the-appeal-appellant-notification-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8305-internal-aip-case-listed-letter-notification-oot.json
  src/functionalTest/resources/scenarios/RIA-8306-internal-record-out-of-time-decision-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8307-internal-in-time-remission-granted-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8308-internal-out-of-time-remission-granted.json
  src/functionalTest/resources/scenarios/RIA-8309-internal-aip-record-remission-decision-letter-notification-out-of-country-rejected.json
  src/functionalTest/resources/scenarios/RIA-8329-internal-aip-edit-case-listing-letter-notification-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter-notification-oot.json
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-31-out-of-country-letter.json
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-32-out-of-country-letter.json
  src/functionalTest/resources/scenarios/RIA-8334-update-tribunal-decision-r31-internal-letter-notification-ooc-decision.json
  src/functionalTest/resources/scenarios/RIA-8335-internal-aip-decide-application-appellant-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8336-internal-aip-decide-respondent-application-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8338-internal-edit-appeal-post-submit-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8339-internal-aip-reinstate-appeal-letter-notification-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8343-internal-non-detained-non-standard-direction-appellant-letter-notification-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8344-internal-aip-mark-appeal-remitted-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8719-internal-aip-late-remission-decision-partially-approved-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-8720-internal-aip-late-remission-request-rejected-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-9162-internal-aip-submit-appeal-out-of-time-with-remission-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9163-internal-aip-submit-appeal-with-remission-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9164-internal-aip-submit-appeal-with-fee-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9165-internal-non-detained-manage-fee-update-ooc.json
  src/functionalTest/resources/scenarios/RIA-9166-internal-decided-without-hearing-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9167-internal-aip-end-appeal-automatically-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9168-internal-aip-submit-appeal-with-fee-out-of-time-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9169-internal-ho-directed-to-upload-hearing-bundle-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9173-internal-aip-submit-appeal-with-exemption-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9174-internal-aip-submit-appeal-out-of-time-with-exemption-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-9177-adjourn-hearing-without-date-non-detained-oot.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Nationality.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/NationalityTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseAdjournedWithoutDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDecisionWithoutHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDisposeUnderRule31Or32PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseEndAppealAutomaticallyLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithExemptionLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithRemissionLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOnTimeWithFeePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalDecideApplicationLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalEditAppealPostSubmitLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeApplyForFtpaNonDetainedAndOutOfCountryPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToUploadBundleLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionPartiallyOrGrantedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionRejectedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalManageFeeUpdateLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalMarkAsRemittedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalReinstateAppealLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedInTImeLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedOutOfTImeLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionPartiallyGrantedOrRejectedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRespondentApplicationDecidedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalUpdateTribunalDecisionRule31LetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1289

#1286 RIA-9154 - Update PROGRESS_MIGRATED_CASE to send a Notification
  src/functionalTest/resources/scenarios/RIA-9154-internal-api-progress-migrated-case-with-fee-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1286

#1288 DIAC-556 dependency check update
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1288

#1291 RIA-9288 - Update to send aip email when is remote hearing is updated
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGenerator.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1291

#1287 DIAC-558 fix listing state notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalization.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HomeOfficeEmailFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1287

#1274 DIAC-526 Bail force case progression
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeForceCaseToHearingPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1274

#1292 DIAC-556 Remove JCenter
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1292

#1293 RIA-9218 add_notification_to_lr_for_second_payment
  src/functionalTest/resources/scenarios/RIA-9218-legalrep-refund-confirmation-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRefundConfirmationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepRefundConfirmationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1293

#1295 DIAC-527 - fix null GIT_COMMIT env variable
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1295

#1294 RIA-9217 Refund confirmation notifications AIP
  src/functionalTest/resources/scenarios/RIA-9217-aip-appellant-refund-confirmation-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRefundConfirmationPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRefundConfirmationPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRefundConfirmationPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRefundConfirmationPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1294

#1296 RIA-9217 OOC email template scenario added
  src/functionalTest/resources/scenarios/RIA-9217-aip-appellant-in-country-refund-confirmation-notifications.json
  src/functionalTest/resources/scenarios/RIA-9217-aip-appellant-out-of-country-refund-confirmation-notifications.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRefundConfirmationPersonalisationEmail.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRefundConfirmationPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1296

#1165 RIA-0000 Merge Ref Data -> Master (DO NOT MERGE)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1165

#1298 RIA-8224 Update Tribunal decision - Detained Non ADA notification
  src/functionalTest/resources/scenarios/RIA-8224-update-tribunal-decision-rule31-notification.json
  src/functionalTest/resources/scenarios/RIA-8224-update-tribunal-decision-rule32-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUpdateTribunalDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamUpdateTribunalDecisionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1298

#1299 RIA-TASK - Merge Master into Refund
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/email/AdminOfficerBailChangeTribunalCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailChangeTribunalCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalization.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HomeOfficeEmailFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/AdminOfficerBailChangeTribunalCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/LegalRepresentativeBailChangeTribunalCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeForceCaseToHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1299

#1300 RIA-8250 RIA-8249 Email notification and letter for manage a fee update for detained
  src/functionalTest/resources/scenarios/RIA-8249-internal-detained-manage-fee-update.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamManageFeeUpdatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamManageFeeUpdatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1300

#1301 RIA-9478 Fix issue with 'editCaseListing' notifications
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestHearingRequirementsPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1301

#1303 RIA-TASK - Merge Master into Migration branch
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/email/AdminOfficerBailChangeTribunalCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailChangeTribunalCentrePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeForceCaseToHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentChangeDirectionDueDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionOfAppellantPersonalization.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HomeOfficeEmailFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/AdminOfficerBailChangeTribunalCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/adminofficer/LegalRepresentativeBailChangeTribunalCentrePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeForceCaseToHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeForceCaseToHearingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentNonStandardDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/EditListingEmailNotificationGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1303

#1307 RIA-9349 Adding partially granted late remission decision after paid letter
  src/functionalTest/resources/scenarios/RIA-8719-internal-aip-late-remission-decision-approved-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-9349-internal-aip-late-remission-decision-partially-approved-in-country.json
  src/functionalTest/resources/scenarios/RIA-9349-internal-aip-late-remission-decision-partially-approved-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionPartiallyOrGrantedLetterPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionPartiallyOrGrantedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1307

#1282 DIAC-525 list case notifications to appellant on LR cases
  src/functionalTest/resources/scenarios/RIA-7195-aip-edit-case-listing-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-remote-hearing-refdata-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEditListingPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCasePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEditListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCasePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecipientsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEditListingPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCasePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEditListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCasePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecipientsFinderTest.java
Labels: ns:ia, prd:ia, stale, rel:ia-case-notifications-api-pr-1282

#1305 RIA-9234 Use legalRepEmail field for internal case LR notifications
  src/functionalTest/resources/scenarios/RIA-9234-adjourn-hearing-without-date.json
  src/functionalTest/resources/scenarios/RIA-9234-apply-for-a-late-remission.json
  src/functionalTest/resources/scenarios/RIA-9234-case-submitted-notification-to-case-officer-north-shields-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-9234-decide-ftpa-appellant-under-rule-35-notifications-legal-rep-and-home-office.json
  src/functionalTest/resources/scenarios/RIA-9234-decide-ftpa-under-rule-32-notification-respondent.json
  src/functionalTest/resources/scenarios/RIA-9234-direction-request-hearing-requirements-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-9234-direction-request-new-hearing-requirements-judge.json
  src/functionalTest/resources/scenarios/RIA-9234-force-case-progression-to-case-under-review.json
  src/functionalTest/resources/scenarios/RIA-9234-manage-fee-update-for-refund-instructed.json
  src/functionalTest/resources/scenarios/RIA-9234-notification-of-home-office-uploaded-additional-evidence-after-listing.json
  src/functionalTest/resources/scenarios/RIA-9234-post-submit-payment-appeal-notification-email-before-listing.json
  src/functionalTest/resources/scenarios/RIA-9234-record-adjournment-details-list-assist-integrated.json
  src/functionalTest/resources/scenarios/RIA-9234-remove-representation-notifications-letter.json
  src/functionalTest/resources/scenarios/RIA-9234-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-9234-request-case-edit-legal-representative.json
  src/functionalTest/resources/scenarios/RIA-9234-request-response-amend.json
  src/functionalTest/resources/scenarios/RIA-9234-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-9234-reviewed-hearing-requirements-notification-lr.json
  src/functionalTest/resources/scenarios/RIA-9234-send-appeal-submitted-and-paid-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-9234-send-appeal-submitted-and-paylater-notification-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-9234-send-apply-notice-of-change-notification-to-appellant-sms.json
  src/functionalTest/resources/scenarios/RIA-9234-send-build-case-direction-notification.json
  src/functionalTest/resources/scenarios/RIA-9234-send-hearing-requirements-direction.json
  src/functionalTest/resources/scenarios/RIA-9234-send-legal-rep-review-direction.json
  src/functionalTest/resources/scenarios/RIA-9234-send-respondent-review-direction-taylor-house.json
  src/functionalTest/resources/scenarios/RIA-9234-standard-direction-hearing-requirements-ada.json
  src/functionalTest/resources/scenarios/RIA-9234-transfer-out-of-ada-notifications-before-listing.json
  src/functionalTest/resources/scenarios/RIA-9234-turn-on-notifications-lr-and-appellant-after-listing.json
  src/functionalTest/resources/scenarios/RIA-9234-update-detention-location-legal-rep-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-9234-update-tribunal-decision-r31-notification.json
  src/functionalTest/resources/scenarios/RIA-9234-update-tribunal-decision-r32-notification.json
  src/functionalTest/resources/scenarios/RIA-9234-withdraw-record-refused-application-apc-ho-and-legal-rep-notifications-start.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeEmailNotificationWithLinkPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeNocRequestDecisionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveRepresentationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadAdditionalEvidencePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1305
