Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-10, with the labels that each got.

#1334 RIA-1234 fix_ft
  src/functionalTest/resources/scenarios/RIA-8058-aip-appellant-notifications-remission-decision-approved.json
  src/functionalTest/resources/scenarios/RIA-8059-aip-appellant-notifications-remission-decision-partially-approved.json
  src/functionalTest/resources/scenarios/RIA-8060-aip-appellant-notifications-remission-decision-rejected.json
  src/functionalTest/resources/scenarios/RIA-8246-legal-rep-manage-fee-additional-payment-requested-notification.json
  src/functionalTest/resources/scenarios/RIA-8247-manage-fee-update-aip-notification.json
  src/functionalTest/resources/scenarios/RIA-9562-aip-appellant-notifications-remission-decision-partially-approved.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRecordRemissionDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRecordRemissionDecisionPersonalisationSms.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRecordRemissionDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRecordRemissionDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1334

#1335 RIA-9460 bug_fix
  src/functionalTest/resources/scenarios/RIA-7030-reinstate-appeal-internal-notification-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7030-reinstate-appeal-internal-notification-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7417_appeal_edited_ada_notification.json
  src/functionalTest/resources/scenarios/RIA-7428-internal-reinstate-appeal-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7691-internal-upload-addendum-evidence-admin-officer-det-notification-ada.json
  src/functionalTest/resources/scenarios/RIA-7693-internal-upload-addendum-evidence-admin-officer-det-notification-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7707_appeal_edited_non-ada_notification.json
  src/functionalTest/resources/scenarios/RIA-7712-internal-reinstate-appeal-det-notification-non-ada.json
  src/functionalTest/resources/scenarios/RIA-8338-internal-edit-appeal-post-submit-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8338-internal-edit-appeal-post-submit-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8339-internal-aip-reinstate-appeal-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8339-internal-aip-reinstate-appeal-letter-notification-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-9187-non-standard-in-country-non-detained-send-direction-hearing-requirements-after-listing.json
  src/functionalTest/resources/scenarios/RIA-9187-non-standard-out-of-country-send-direction-after-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1335

#1336 RIA-9219 refund_confirmation
  src/functionalTest/resources/scenarios/RIA-9219-internal-appellant-in-country-refund-confirmation-letter.json
  src/functionalTest/resources/scenarios/RIA-9219-internal-appellant-out-of-country-refund-confirmation-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRefundConfirmationLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRefundConfirmationLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1336

#1320 DIAC-578 adding separate relisting notification for conditional bail
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1320

#1337 RIA-1234 sonar_fixes_notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/WhatHappensNextContentUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRespondentApplicationDecidedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1337
