Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-03, with the labels that each got.

#1106 Revert "RIA-8723 Bails - Notifications API Release Preparation"
  src/functionalTest/resources/scenarios/RIA-7879-case-listed-notification-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/bail/RIA-8112-HO-upload-bail-summary-direction-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-initial-case-listing-notifications.json
  src/functionalTest/resources/scenarios/bail/RIA-8349-RIA-8352-send-bail-relisting-case-listing-notifications.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/handlers/presubmit/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/BailHearingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/sms/ApplicantBailCaseListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeUploadBailSummaryDirectionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/email/LegalRepresentativeBailCaseListingPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1106

#1108 RIA-8053 filter notifications when appeal without remission is created
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-revocation-of-protection-with-no-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-revocation-of-protection-with-no-remission-out-of-time-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-revocation-of-protection-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1108

#1105 RIA-8243 Update Tribunal Decision R31 Notification
  src/functionalTest/resources/scenarios/RIA-8243-update-tribunal-decision-r31-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateTribunalDecisionRule31PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentUpdateTribunalDecisionRule31PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateTribunalDecisionRule31PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentUpdateTribunalDecisionRule31PersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1105

#1109 RIA-8221 Update Tribunal Decision R32 NOTIF
  src/functionalTest/resources/scenarios/RIA-8221-update-tribunal-decision-r32-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateTribunalDecisionRule32PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentUpdateTribunalDecisionRule32PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateTribunalDecisionRule32PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentUpdateTribunalDecisionRule32PersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1109

#1110 RIA-8722 LR notification for Decide FTPA Application under Rule 35
  src/functionalTest/resources/scenarios/RIA-8505-FTPA set aside to be reheard under rule 35 appellant - HO Notification.json
  src/functionalTest/resources/scenarios/RIA-8505-FTPA set aside to be reheard under rule 35 respondent- HO Notification.json
  src/functionalTest/resources/scenarios/RIA-8722-decide-ftpa-appellant-under-rule-35-notifications-legal-rep-and-home-office.json
  src/functionalTest/resources/scenarios/RIA-8722-decide-ftpa-respondent-under-rule-35-notifications-legal-rep-and-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReheardUnderRule35Personalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReheardUnderRule35PersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1110

#1112 RIA-8222 Update tribunal decision R32 Notif AIP
  src/functionalTest/resources/scenarios/RIA-8221-update-tribunal-decision-r32-notification.json
  src/functionalTest/resources/scenarios/RIA-8222-update-tribunal-decision-r32-aip-notification.json
  src/functionalTest/resources/scenarios/RIA-8243-update-tribunal-decision-r31-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUpdateTribunalDecisionRule32PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUpdateTribunalDecisionRule32PersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUpdateTribunalDecisionRule32PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUpdateTribunalDecisionRule32PersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1112

#1111 DIAC-281 fixing CcdScenarioRunnerTest
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-4559-reinstate-appeal-notification-after-listing-aip.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1111

#1113 RIA-8722 QA fixes - replace HO Reference with LR Reference
  src/functionalTest/resources/scenarios/RIA-8722-decide-ftpa-appellant-under-rule-35-notifications-legal-rep-and-home-office.json
  src/functionalTest/resources/scenarios/RIA-8722-decide-ftpa-respondent-under-rule-35-notifications-legal-rep-and-home-office.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReheardUnderRule35Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeReheardUnderRule35PersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1113

#1115 RIA-8058 RIA-8059 RIA-8060 AIP Record remission decision notifications to Appellant Email/SMS
  src/functionalTest/resources/scenarios/RIA-8058-aip-appellant-notifications-remission-decision-approved.json
  src/functionalTest/resources/scenarios/RIA-8059-aip-appellant-notifications-remission-decision-partially-approved.json
  src/functionalTest/resources/scenarios/RIA-8060-aip-appellant-notifications-remission-decision-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRecordRemissionDecisionPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRecordRemissionDecisionPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantRecordRemissionDecisionPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantRecordRemissionDecisionPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1115

#1116 RIA-8218 Added AIP notifications for rule 31
  src/functionalTest/resources/scenarios/RIA-8218-update-tribunal-decision-r31-aip-notification-both-document-decision.json
  src/functionalTest/resources/scenarios/RIA-8218-update-tribunal-decision-r31-aip-notification-decision.json
  src/functionalTest/resources/scenarios/RIA-8218-update-tribunal-decision-r31-aip-notification-document.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUpdateTribunalDecisionRule31PersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUpdateTribunalDecisionRule31PersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/UpdateTribunalDecisionRule31PersonalisationUtil.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantUpdateTribunalDecisionRule31PersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantUpdateTribunalDecisionRule31PersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/UpdateTribunalDecisionRule31PersonalisationUtilTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1116

#1114 RIA-TASK VUL-5809 Upgrade serenity, restAssured, remove springHystrix reference
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1114

#1119 RIA-8258 - Mark appeal as remitted Notification to LR/HO
  src/functionalTest/resources/scenarios/RIA-8258-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1119

#1120 Revert "RIA-8258 - Mark appeal as remitted Notification to LR/HO"
  src/functionalTest/resources/scenarios/RIA-8258-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1120

#1121 RIA-8258 - Mark appeal as remitted - Notification to LR/HO
  src/functionalTest/resources/scenarios/RIA-8258-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsRemittedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeMarkAppealAsRemittedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1121

#1117 RIA-TASK VUL-5808 Remove credentials from SpringBootIntegrationTest
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/testutils/SpringBootIntegrationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1117

#1125 RIA-8257 Updated SourceOfRemittal value
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/SourceOfRemittal.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1125

#1126 RIA-8254 Added new state in the State Enum 'remitted'
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1126

#1124 RIA-8069_RIA-8070 ask_for_fee_remission
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1124

#1132 RIA-8069_RIA-8070 ask_for_fee_remission
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/RemissionOption.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1132

#1129 RIA-8062 Create mark appeal as paid Aip notification
  src/functionalTest/resources/scenarios/RIA-8062-mark-appeal-as-paid-with-remission-aip-notification-with-dlrm-fee-remission-feature-flag-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmittedWithRemissionMarkAppealAsPaidPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmittedWithRemissionMarkAppealAsPaidPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSubmittedWithRemissionMarkAppealAsPaidPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSubmittedWithRemissionMarkAppealAsPaidPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1129

#1118 RIA-8758 fix func tests patch
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-4559-reinstate-appeal-notification-after-listing-aip.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-appellant-reheard-after-respondent-granted-bradford-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-appellant-reheard-after-respondent-granted-taylor-house-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-allowed-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-r32-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-rule-32-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-rule-32-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-rule-35-appellant-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-applicant-appeal-decision-reheard-rule-35-respondent-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-respondent-reheard-after-appellant-refused-glasgow-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-respondent-reheard-after-appellant-refused-taylor-house-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8101-ftpa-submitted-respondent-granted-after-appellant-granted-decide-ftpa-application.json
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-respondent-notification.json
  src/functionalTest/resources/scenarios/RIA-8203-ftpa-set-aside-to-be-reheard-under-rule-35-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1118

#1134 RIA-8766 Added HO email to AIP journey for remadeRule31 and remadeRule32 outcome
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-appellant-notification.json
  src/functionalTest/resources/scenarios/RIA-8184-decide-ftpa-under-rule-31-32-respondent-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1134

#1135 RIA-8765 Added rule 35 HO notification to AIP journey
  src/functionalTest/resources/scenarios/RIA-8203-ftpa-set-aside-to-be-reheard-under-rule-35-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1135
