Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-09, with the labels that each got.

#1314 RIA-0001 Merge with master branch
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7195-aip-edit-case-listing-notification-with-integrated-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEditListingPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCasePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEditListingPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCasePersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecipientsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/BailNotificationHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantEditListingPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantListCasePersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestHearingRequirementsPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantEditListingPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantListCasePersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecipientsFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/PersonalisationProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1314

#1319 RIA-9525 Fix libraries
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1319

#1321 DIAC-123 functional update after template subject change
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-before-listing.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1321

#1322 RIA-9553 Use previous amount while sending mange a fee update notification
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-after-listing.json
  src/functionalTest/resources/scenarios/RIA-3453-make-an-application-notification-judge-review-before-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantManageFeeUpdatePersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AipAppellantManageFeeUpdatePersonalisationEmailTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1322

#1323 RIA-9553 Remove legal rep notification introduced wrongly
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1323

#1324 RIA-9553 Fix LR manage a fee update fee amount
  src/functionalTest/resources/scenarios/RIA-8246-legal-rep-manage-fee-additional-payment-requested-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1324

#1325 RIA-9553 Fix AIP SMS manage a fee update fee amount
  src/functionalTest/resources/scenarios/RIA-8247-manage-fee-update-aip-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantManageFeeUpdatePersonalisationSms.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AipAppellantManageFeeUpdatePersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1325

#1316 DIAC-584 judge review for LR flow for notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerMakeAnApplicationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/caseofficer/CaseOfficerMakeAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, stale, rel:ia-case-notifications-api-pr-1316

#1330 RIA-9559 add_flag_to_notification
  src/functionalTest/resources/scenarios/RIA-8246-legal-rep-manage-fee-additional-payment-requested-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeManageFeeUpdateAdditionalPaymentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1330

#1297 DIAC-545 Update email to receive UT bundle failed notification
  src/functionalTest/resources/scenarios/RIA-4352-upper-tribunal-bundle-failed-notification-to-admin-officer.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerUpperTribunalBundleFailedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerUpperTribunalBundleFailedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantRequestHearingRequirementsPersonalisationEmailTest.java
Labels: ns:ia, prd:ia, stale, rel:ia-case-notifications-api-pr-1297
