Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-07, with the labels that each got.

#1238 RIA-9176 Create Generate hearing bundle HO notification for internal cases
  src/functionalTest/resources/scenarios/RIA-9176-generate-hearing-bundle-in-country-non-detained-notification.json
  src/functionalTest/resources/scenarios/RIA-9176-generate-hearing-bundle-out-of-country-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeGenerateHearingBundlePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeGenerateHearingBundlePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1238

#1243 RIA-9176 Adjourn hearing without a date - Existing HO & Admin notification
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter-notification.json
  src/functionalTest/resources/scenarios/RIA-9177-adjourn-hearing-without-date-non-detained-in-country.json
  src/functionalTest/resources/scenarios/RIA-9177-adjourn-hearing-without-date-non-detained-oot.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAdjournHearingWithoutDateNonDetainedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamInternalNonStandardDirectionToRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAdjournHearingWithoutDateNonDetainedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerAdjournHearingWithoutDateNonDetainedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAdjournHearingWithoutDateNonDetainedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentInternalNonStandardDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1243

#1245 DIAC-000 - fix: get participantVersion from GIT_COMMIT env var
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1245

#1244 RIA-9167 Enabling OOC scenario for end appeal automatically for non-payment letter
  src/functionalTest/resources/scenarios/RIA-8345-internal-aip-end-appeal-automatically-letter-notification.json
  src/functionalTest/resources/scenarios/RIA-9167-internal-aip-end-appeal-automatically-letter-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseEndAppealAutomaticallyLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseEndAppealAutomaticallyLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1244

#1242 RIA-8335 Add functionality to send letter to the appellant when Judge…
  src/functionalTest/resources/scenarios/RIA-8335-internal-aip-decide-application-appellant-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8335-internal-aip-decide-application-appellant-letter-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalDecideApplicationLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRemoveDetentionStatusPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/WhatHappensNextContentUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalDecideApplicationLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1242

#1246 RIA-8336 Internal letter notification for HO application decided
  src/functionalTest/resources/scenarios/RIA-8336-internal-aip-decide-respondent-application-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8336-internal-aip-decide-respondent-application-letter-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalDecideApplicationLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRespondentApplicationDecidedLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/utils/WhatHappensNextContentUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRespondentApplicationDecidedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1246

#1253 RIA-8338 Internal letter notification for edit appeal post submit
  src/functionalTest/resources/scenarios/RIA-8338-internal-edit-appeal-post-submit-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8338-internal-edit-appeal-post-submit-letter-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalEditAppealPostSubmitLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalEditAppealPostSubmitLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1253

#1254 RIA-8308 remission granted late letter notification
  src/functionalTest/resources/scenarios/RIA-8308-internal-out-of-time-remission-granted-in-country.json
  src/functionalTest/resources/scenarios/RIA-8308-internal-out-of-time-remission-granted.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedOutOfTImeLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedOutOfTImeLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1254

#1256 RIA-9166 Decision no hearing OOC letter
  src/functionalTest/resources/scenarios/RIA-8340-internal-decided-without-hearing-notification.json
  src/functionalTest/resources/scenarios/RIA-9166-internal-decided-without-hearing-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDecisionWithoutHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDecisionWithoutHearingPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1256

#1257 RIA-9179 Add ftpa decission granted admin notification for internal cases
  src/functionalTest/resources/scenarios/RIA-9179-ftpa-internal-in-country-applicant-appeal-decision-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-9179-ftpa-internal-out-of-country-applicant-appeal-decision-granted-respondent.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/adminofficer/AdminOfficerFtpaDecisionRespondentPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1257

#1260 RIA-8719 late remission granted letter
  src/functionalTest/resources/scenarios/RIA-8719-internal-aip-late-remission-decision-approved-in-country.json
  src/functionalTest/resources/scenarios/RIA-8719-internal-aip-late-remission-decision-partially-approved-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionPartiallyOrGrantedLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionPartiallyOrGrantedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1260

#1261 RIA-8307 Remission granted on time
  src/functionalTest/resources/scenarios/RIA-8307-internal-in-time-remission-granted-in-country.json
  src/functionalTest/resources/scenarios/RIA-8307-internal-in-time-remission-granted-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedInTImeLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedInTImeLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1261

#1259 RIA-9180 Add FTPA application partially granted for internal cases
  src/functionalTest/resources/scenarios/RIA-9180-ftpa-internal-in-country-applicant-appeal-decision-partially-granted-respondent.json
  src/functionalTest/resources/scenarios/RIA-9180-ftpa-internal-out-of-country-applicant-appeal-decision-partially-granted-respondent.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1259

#1262 RIA-8720 Remission refused - functional test fix
  src/functionalTest/resources/scenarios/RIA-8720-internal-aip-late-remission-request-rejected-in-country.json
  src/functionalTest/resources/scenarios/RIA-8720-internal-aip-late-remission-request-rejected-out-of-country.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1262

#1264 RIA-9171 add_ft_and_oot_conditions
  src/functionalTest/resources/scenarios/RIA-8305-internal-aip-case-listed-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8305-internal-aip-case-listed-letter-notification-oot.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1264

#1265 RIA-9170 Added OOC scenario to internal request respondent review
  src/functionalTest/resources/scenarios/RIA-8304-internal-ho-direction-to-review-the-appeal-appellant-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8304-internal-ho-direction-to-review-the-appeal-appellant-notification-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1265

#1268 RIA-8329 Send letter bundle in the notification when 'Edit Case Listing' is complete
  src/functionalTest/resources/scenarios/RIA-8329-internal-aip-edit-case-listing-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8329-internal-aip-edit-case-listing-letter-notification-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1268

#1269 RIA-8334 Send letter notification to the appellant when the event 'Update Tribunal Decision' is completed
  src/functionalTest/resources/scenarios/RIA-8334-update-tribunal-decision-r31-internal-letter-notification-in-country-decision.json
  src/functionalTest/resources/scenarios/RIA-8334-update-tribunal-decision-r31-internal-letter-notification-ooc-decision.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalUpdateTribunalDecisionRule31LetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalUpdateTribunalDecisionRule31LetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1269

#1273 RIA-8307 Updated configuration to fix notifications
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1273

#1275 RIA-9229 Fix issues with notifications for signed decision uploaded …
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/BailEmailNotificationPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/applicant/ApplicantBailSignedDecisionNoticeUploadedPersonalisationSmsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/homeoffice/email/HomeOfficeBailSignedDecisionNoticeUploadedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/bail/legalrepresentative/LegalRepresentativeBailSignedDecisionNoticeUploadedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1275

#1272 RIA-9165 Bug fix, using absolute value for fee difference to avoid negatives
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1272

#1277 RIA-9130 Make Update Tribunal decision event available to LO
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1277

#1270 RIA-8366 Send email/SMS notifications 7 days after non payment of fee
  src/functionalTest/resources/scenarios/RIA-8366-internal-aip-payment-reminder-notifications-in-country.json
  src/functionalTest/resources/scenarios/RIA-8366-internal-aip-payment-reminder-notifications-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSendPaymentReminderPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSendPaymentReminderPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantSendPaymentReminderPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantSendPaymentReminderPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1270
