Repository hmcts/ia-case-notifications-api, pull requests merged in 2024-06, with the labels that each got.

#1206 RIA-8857 - Appeals Notifications displays the correct ref data location information
  src/functionalTest/resources/scenarios/RIA-8857-aip-case-listed-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-case-listed-notification-with-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-aip-edit-case-listing-notification-with-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-case-listed-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-case-listed-notification-with-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-edit-case-listing-notification-with-non-remote-hearing-refdata-enabled.json
  src/functionalTest/resources/scenarios/RIA-8857-edit-case-listing-notification-with-remote-hearing-refdata-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinder.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1206

#1207 RIA-8304 HO directed to review the appeal - letter
  src/functionalTest/resources/scenarios/RIA-8304-internal-ho-direction-to-review-the-appeal-appellant-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1207

#1210 RIA-8301 appeal submitted out of time with fee letter
  src/functionalTest/resources/scenarios/RIA-8301-internal-api-submit-appeal-with-fee-out-of-time-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1210

#1214 RIA-8298 and 8301 - updating new fee fields
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOnTimeWithFeePersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmittedOnTimeWithFeePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1214

#1209 RIA-8839 Refactor the handling of 'decisionWithoutHearing' appeals
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RecordApplicationRespondentFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/EmailAddressFinder.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1209

#1216 RIA-8300 Internal letter for submit appeal out of time with exemption
  src/functionalTest/resources/scenarios/RIA-8300-internal-aip-submit-appeal-out-of-time-with-exemption-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithExemptionLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithExemptionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1216

#1217 RIA-8320 letter notification internal update fee
  src/functionalTest/resources/scenarios/RIA-8320-internal-non-detained-manage-fee-update.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/FeeUpdateReason.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalManageFeeUpdateLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOnTimeWithFeePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmittedOutOfTimeWithFeePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToReviewAppealPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalManageFeeUpdateLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1217

#1211 RIA-8303 - HO directed to upload bundle - Non Detained (by post) noti…
  src/functionalTest/resources/scenarios/RIA-8303-internal-ho-directed-to-upload-hearing-bundle-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToUploadBundleLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalHomeOfficeDirectedToUploadBundleLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1211

#1219 RIA-8337 Internal end appeal letter bundle notification
  src/functionalTest/resources/scenarios/RIA-8337-internal-aip-end-appeal-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1219

#1221 RIA-8345 Internal appellant end appeal automatically letter
  src/functionalTest/resources/scenarios/RIA-8345-internal-aip-end-appeal-automatically-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseEndAppealAutomaticallyLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseEndAppealAutomaticallyLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1221

#1220 RIA-8340 Decision no hearing non detained letter
  src/functionalTest/resources/scenarios/RIA-4929-hearing-bundle-is-ready-notification.json
  src/functionalTest/resources/scenarios/RIA-8340-internal-decided-without-hearing-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDecisionWithoutHearingPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDecisionWithoutHearingPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1220

#1223 DIAC-380 fix post notification template change
  src/functionalTest/resources/scenarios/RIA-4929-hearing-bundle-is-ready-notification.json
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1223

#1225 RIA-8305 - Case listed - Non Detained (by post) notification
  src/functionalTest/resources/scenarios/RIA-8305-internal-aip-case-listed-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1225

#1226 RIA-8302 appeal submitted late with remission
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealOutOfTimeWithRemissionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1226

#1228 RIA-8339 Internal letter notification for Reinstate Appeal
  src/functionalTest/resources/scenarios/RIA-8339-internal-aip-reinstate-appeal-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8339-internal-aip-reinstate-appeal-letter-notification-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalReinstateAppealLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalReinstateAppealLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1228

#1227 RIA-8668 Add new notifications for MarkAppealAsRemitted when case is internal and in country
  src/functionalTest/resources/scenarios/RIA-8669-mark-appeal-as-remitted-non-detained-appellant-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedNonDetainedPersonalisationEmail.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedNonDetainedPersonalisationSms.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/email/AppellantMarkAppealAsRemittedNonDetainedPersonalisationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/sms/AppellantMarkAppealAsRemittedNonDetainedPersonalisationSmsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1227

#1232 RIA-8720 late remission request ft fix
  src/functionalTest/resources/scenarios/RIA-8720-internal-aip-late-remission-request-rejected-in-country.json
  src/functionalTest/resources/scenarios/RIA-8720-internal-aip-late-remission-request-rejected-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionRejectedLetterPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalLateRemissionRejectedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1232

#1233 RIA-9172 OOC end appeal changes
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1233

#1234 RIA-1111 empty_commit_retrigger_build
  src/functionalTest/resources/scenarios/RIA-4929-hearing-bundle-is-ready-notification.json
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/controllers/AsylumPreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1234

#1236 RIA-8333 disposal_under_31_32
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-31-in-country-letter.json
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-31-out-of-country-letter.json
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-32-in-country-letter.json
  src/functionalTest/resources/scenarios/RIA-8333-internal-case-disposed-under-rule-32-out-of-country-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDisposeUnderRule31Or32Personalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseDisposeUnderRule31Or32PersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1236

#1235 RIA-8344 - Appeal remitted from the UT/CoA
  src/functionalTest/resources/scenarios/RIA-8344-internal-aip-mark-appeal-remitted-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8344-internal-aip-mark-appeal-remitted-letter-notification-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalMarkAsRemittedLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalMarkAsRemittedLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1235

#1218 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/workflows/stale.yml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1218
