Repository hmcts/ia-case-notifications-api, pull requests merged in 2025-02, with the labels that each got.

#1345 DIAC-835 Add timestamp to the sentNotifications
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/util/MapFieldAssertor.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/verifiers/NotificationVerifier.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationIdAppender.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/NotificationIdAppenderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1345

#1348 DIAC-871 AC4 and AC5 templates update
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2694-respondent-review-direction-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2694-respondent-review-direction-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2694-respondent-review-direction-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2694-respondent-review-direction-north-shields.json
  src/functionalTest/resources/scenarios/RIA-4626-send-respondent-review-direction-aip.json
  src/functionalTest/resources/scenarios/RIA-722-RIA-2694-send-respondent-review-direction-manchester.json
  src/functionalTest/resources/scenarios/RIA-722-RIA-2694-send-respondent-review-direction-taylor-house.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1348

#1351 DIAC-000 Upgrade sonarqube plugin version
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1351

#1349 DIAC-870 AC3 Build Case
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-2774-force-case-progression-notification.json
  src/functionalTest/resources/scenarios/RIA-9234-request-case-building-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestCaseBuildingPersonalisation.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1349

#1344 DIAC-700 Update content in email notifications
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1344

#1350 DIAC-859 HomeOffice notification for AiP remission appeals
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-revocation-of-protection-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/functionalTest/resources/scenarios/RIA-8053-appeal-submitted-with-remission-aip-notification-with-dlrm-feature-flag-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeAppealSubmittedPendingPaymentPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1350
