Repository hmcts/ia-case-notifications-api, pull requests merged in 2025-10, with the labels that each got.

#1521 DIAC-1232 fix to stop email notification for internal cases & log to investigate no notification scenarios
  src/functionalTest/resources/scenarios/DIAC-1441-update-detention-location-lr-manual-letter.json
  src/functionalTest/resources/scenarios/RIA-9234-update-detention-location-legal-rep-notification-after-listing.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeLetterUpdateDetentionLocationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateDetentionLocationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1521

#1518 DIAC-1403 Late remission request granted - Detained (in IRC or Prison) notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetLateRemissionGrantedInPrisonOrIrcAipManualPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetLateRemissionGrantedInPrisonOrIrcAipManualPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1518

#1513 DIAC-1380 HO directed to review the appeal - Detained (in IRC or Prison) notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1513

#1517 DIAC-1297 Case listed - Detained (in IRC or Prison) notification
  src/functionalTest/resources/scenarios/DIAC-1339-case-listed-notification-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/DIAC-1581-case-listed-no-prod-notification-harmondsworth-video-hearing.json
  src/functionalTest/resources/scenarios/RIA-7558-RIA-7939-internal-detained-non-ada-case-listed.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-non-ada-case-listed.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCasePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCasePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1517

#1474 DIAC-1326 paper appeal remission granted on time detained in irc or prison notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRemissionGrantedInTimePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRemissionGrantedInTimePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1474

#1523 DIAC-1379 fix to remove duplicate handlers for DET notifications
  src/functionalTest/resources/scenarios/RIA-7516-internal-detained-request-respondent-evidence-notifications-ejp.json
  src/functionalTest/resources/scenarios/RIA-7553-internal-detained-request-respondent-evidence-notifications-det-non-ada.json
  src/functionalTest/resources/scenarios/RIA-9234-standard-direction-hearing-requirements-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestRespondentEvidencePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHearingAdjournedWithoutDatePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRequestRespondentEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1523

#1529 DIAC-1432 Udating IRC spelling
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1529

#1530 DIAC-1426 Use system user to get the document after removed legal rep
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDetainedPrisonIrcLegalRepRemovedEmailPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/DocumentDownloadSystemUserClient.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SystemUserAccessTokenProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDetainedPrisonIrcLegalRepRemovedEmailPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/DocumentDownloadSystemUserClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/SystemUserAccessTokenProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1530

#1534 DIAC-1341 Cancellation of Production Notice Detained 7
  src/functionalTest/resources/scenarios/DIAC-1339-edit-case-listing-notification-harmondsworth-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1534

#1535 DIAC-1432 Correcting hewell prison
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1535

#1539 DIAC-1627 update pod config
  charts/ia-case-notifications-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1539

#1532 DIAC-1589 Fix notification handlers to support LR Manual journey
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1532

#1541 DIAC-1341 Cancellation of Production Notice Detained 8
  src/functionalTest/resources/scenarios/DIAC-1339-edit-case-listing-notification-harmondsworth-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1541

#1512 DIAC-1401 appeal ended automatically for non payment
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1512
