Repository hmcts/ia-case-notifications-api, pull requests merged in 2025-09, with the labels that each got.

#1454 DIAC-1324 paper appeal submitted on time with exemption detained in other notification
  src/functionalTest/resources/scenarios/DIAC-1324-internal-aip-submit-appeal-with-exemption-detained-other-letter-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-notifications-api-pr-1454

#1403 DIAC-1341 cancellation of production notice detained notification
  Jenkinsfile_CNP
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/scenarios/DIAC-1341-adjourn-hearing-without-date.json
  src/functionalTest/resources/scenarios/DIAC-1341-decide_an_application.json
  src/functionalTest/resources/scenarios/DIAC-1341-end-appeal.json
  src/functionalTest/resources/scenarios/DIAC-1341-record-adjournment-details.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdjournHearingWithoutDateProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEndTheAppealProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRecordAdjournmentDetailsProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetentionEmailService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAdjournHearingWithoutDateProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEndTheAppealProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamRecordAdjournmentDetailsProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetentionEmailServiceTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1403

#1455 DIAC-1330 Remission granted on time - Detained (in Other) notification
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/DIAC-1330-Remission-granted-on time-Detained-in-Other-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1455

#1456 DIAC-1440 change in detention status notification lr manual
  src/functionalTest/resources/scenarios/RIA-9525-mark-appeal-as-detained.json
  src/functionalTest/resources/scenarios/RIA-9525-remove-detention-status.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/letter/LegalRepresentativeMarkAppealAsDetainedLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/letter/LegalRepresentativeRemoveDetentionStatusLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/letter/LegalRepresentativeMarkAppealAsDetainedLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/letter/LegalRepresentativeRemoveDetentionStatusLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1456

#1462 DIAC-1311 Paper appeal submitted late with exemption - Detained (in IRC or Prison) notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppealSubmittedLateWithExemptionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppealSubmittedLateWithExemptionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1462

#1464 DIAC-1313 Paper appeal submitted late with fee to pay - Detained (in IRC or Prison) notification
  src/functionalTest/resources/scenarios/RIA-7543-internal-detained-ea-hu-eu-no-remission-appeal-fee-due-notification.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppealSubmittedLateWithFeePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamAppealSubmittedLateWithFeePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1464

#1378 DIAC-855 am roles
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-notifications-api/Chart.yaml
  charts/ia-case-notifications-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/scenarios/RIA-6811-7363-internal-ada-case-decide-an-application-applicant-granted.json
  src/functionalTest/resources/scenarios/RIA-6811-7363-internal-ada-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-granted-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-refused-after-listing.json
  src/functionalTest/resources/scenarios/RIA-7033-internal-decide-an-application-notification-admin-officer-refused-before-listing.json
  src/functionalTest/resources/scenarios/RIA-7671-internal-detained-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-8335-internal-aip-decide-application-appellant-letter-notification-in-country.json
  src/functionalTest/resources/scenarios/RIA-8335-internal-aip-decide-application-appellant-letter-notification-ooc.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-case-decide-an-application-applicant-refused.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-decide-an-application-notification-admin-officer-granted-after-listing.json
  src/functionalTest/resources/scenarios/RIA-8602-internal-non-detained-decide-an-application-notification.json
  src/functionalTest/resources/scenarios/RIA-9233-internal-aip-decide-application-appellant-letter-notification-in-country-represented.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/MultipleNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasenotificationsapi/component/SendsDirectionTest.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/Assignment.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/Classification.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/GrantType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/RoleName.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/RoleType.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/clients/roleassignment/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/roleassignment/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalDecideApplicationLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeDecideAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMakeAnApplicationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, stale, rel:ia-case-notifications-api-pr-1378, pinned

#1478 DIAC-1253 sd notification to lr to build case
  src/functionalTest/resources/scenarios/DIAC-1253-request-case-building-detained-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1478

#1482 DIAC-1379 ho directed to upload bundle detained in irc in prison notification
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHoUploadBundlePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamHoUploadBundlePersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1482

#1471 DIAC-1354 hearing adjourned without a date detained other notification
  src/functionalTest/resources/scenarios/DIAC-1354-digital-lr-detained-other-case-adjourned-without-date-letter-notification-represented.json
  src/functionalTest/resources/scenarios/DIAC-1354-internal-aip-detained-other-case-adjourned-without-date-letter-notification-oot.json
  src/functionalTest/resources/scenarios/DIAC-1354-internal-lr-detained-other-case-adjourned-without-date-letter-notification-represented.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-notifications-api-pr-1471

#1417 DIAC-1245 - add editDocuments to notifications api
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-notifications-api-pr-1417

#1494 DIAC-1324 fix to remove the duplicate template
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseSubmitAppealWithExemptionLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1494

#1497 DIAC-1440 Fix to handle LR manual notification
  src/functionalTest/resources/scenarios/RIA-6939-mark-appeal-as-detained.json
  src/functionalTest/resources/scenarios/RIA-9525-mark-appeal-as-detained.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1497

#1498 DIAC-1441 Update Detention Location Name Correction
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1498

#1505 DIAC-1426 Fix to enable existing notifications for LR HO and LO
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1505

#1507 DIAC-1354 updates to remove duplicate handlers for adjourned hearing without date
  src/functionalTest/resources/scenarios/DIAC-1354-digital-lr-detained-other-case-adjourned-without-date-letter-notification-represented.json
  src/functionalTest/resources/scenarios/DIAC-1354-internal-aip-detained-other-case-adjourned-without-date-letter-notification-oot.json
  src/functionalTest/resources/scenarios/DIAC-1354-internal-lr-detained-other-case-adjourned-without-date-letter-notification-represented.json
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter-notification-oot.json
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter-notification.json
  src/functionalTest/resources/scenarios/RIA-9233-internal-non-detained-case-adjourned-without-date-letter-notification-represented.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseAdjournedWithoutDatePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalCaseAdjournedWithoutDatePersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1507

#1502 DIAC-1327 Appellant application decided- Detained (in IRC or Prison) notification
  deps.txt
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamDecideAnApplicationPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1502

#1511 DIAC-1305 fixing-handler-condition
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1511
