Repository hmcts/ia-case-notifications-api, pull requests merged in 2025-08, with the labels that each got.

#1405 DIAC-1314 Sending appellant appeal submission letter when detained in other facility
  src/functionalTest/resources/scenarios/DIAC-1314-internal-aip-submit-appeal-out-of-time-with-fee-to-pay.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1405

#1411 DIAC-1353 HO directed to review the appeal - Detained (in Other)
  src/functionalTest/resources/scenarios/DIAC-1353-internal-ho-direction-to-review-the-appeal-appellant-notification-detained-other.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1411

#1419 DIAC-0000 fixing bracket over excitement
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1419

#1416 DIAC-1360 Decision without a hearing - Detained (in Other) notification
  src/functionalTest/resources/scenarios/DIAC-1360-internal-decided-without-hearing-notification-detained-in-other.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1416

#1410 DIAC-1331 Remission partially granted or refused - Detained (in Other) notification
  src/functionalTest/resources/scenarios/DIAC-1331-internal-aip-record-remission-decision-letter-partially-granted-detained-in-other.json
  src/functionalTest/resources/scenarios/DIAC-1331-internal-aip-record-remission-decision-letter-rejected-detained-in-other.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1410

#1423 DIAC-1231 Fix to handle AIP digital case states
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsDetainedPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeMarkAppealAsDetainedPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1423

#1412 DIAC-1332 Remission granted for appellant detained in other
  src/functionalTest/resources/scenarios/DIAC-1332-internal-out-of-time-remission-granted-detained-in-other.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedInTimeLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedOutOfTimeLetterPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedInTimeLetterPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/appellant/letter/AppellantInternalRemissionGrantedOutOfTimeLetterPersonalisationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1412

#1421 DIAC-1232 detention name mapping
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateDetentionLocationPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/DetentionFacilityNameFinder.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUpdateDetentionLocationPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/DetentionFacilityNameFinderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1421

#1415 DIAC-1356 FTPA disposed of under rules 31 or 32 - Detained (in Other) notification
  src/functionalTest/resources/scenarios/DIAC-1356-internal-case-disposed-under-rule-31-in-detained-in-other.json
  src/functionalTest/resources/scenarios/DIAC-1356-internal-case-disposed-under-rule-32-detained-in-other-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1415

#1395 DIAC-1250 NOTIFICATION to Respondent for a detailed appeal to upload … This change is RISKY as it can affect multiple scenarios. Should be thoroughly reviewed.
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentEvidenceDirectionPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1395, RISKY

#1428 DIAC-1458 Detained AIP Case States Bug (Remove Detention Status)
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveDetentionStatusPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/homeoffice/HomeOfficeRemoveDetentionStatusPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1428

#1439 DIAC-1374 late remission request granted detained in other notification
  src/functionalTest/resources/scenarios/DIAC-1374-internal-aip-detained-other-late-remission-decision-approved-in-country.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1439

#1400 DIAC-1339 Production notice detained notification
  src/functionalTest/resources/scenarios/DIAC-1339-case-listed-notification-harmondsworth-hearing-centre.json
  src/functionalTest/resources/scenarios/DIAC-1339-edit-case-listing-notification-harmondsworth-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/PrisonNomsNumber.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditCaseListingProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCaseProductionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetentionFacilityEmailService.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamEditCaseListingProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/detentionengagementteam/DetentionEngagementTeamListCaseProductionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/service/DetentionFacilityEmailServiceTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1400

#1440 DIAC-1370 Appeal reinstated- Detained (in Other) notification
  src/functionalTest/resources/scenarios/DIAC-1370-internal-aip-reinstate-appeal-detained-in-other-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1440

#1433 DIAC-1359 HO application decided - Detained (in Other) notification
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/DIAC-1359-internal-aip-decide-respondent-application-detained-in-other-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1433

#1447 DIAC-1253 Legalrep notification to build case
  src/functionalTest/resources/scenarios/DIAC-1253-request-case-building-detained-direction.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestCaseBuildingDetainedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeRequestCaseBuildingDetainedPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1447

#1451 DIAC-1376 https://tools.hmcts.net/jira/browse/DIAC-1376
  charts/ia-case-notifications-api/Chart.yaml
  src/functionalTest/resources/scenarios/DIAC-1376-internal-detained-in-other-manage-fee-update.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1451

#1457 DIAC-000 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1457

#1459 DIAC-0000 Fix conflict
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1459

#1460 DIAC-1371 Appeal remitted form the UT/CoA - Detained (in Other) notification
  src/functionalTest/resources/scenarios/DIAC-1371-internal-aip-mark-appeal-remitted-letter-notification-detained-other.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1460
