Repository hmcts/ia-case-notifications-api, pull requests merged in 2025-07, with the labels that each got.

#1381 DIAC-1226 Notification for forceCaseToSubmitHearingRequirements for d…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToSubmitHearingRequirementsPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/respondent/RespondentForceCaseToSubmitHearingRequirementsPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1381

#1384 DIAC-1377non springboot 3 upgrade related cve fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1384

#1387 DIAC-1253 Build case LR notification for detained appeal
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadRespondentEvidencePersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeUploadRespondentEvidencePersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1387

#1392 DIAC-1277 notification force case to submit hearing requirements lr detention
  src/functionalTest/resources/scenarios/DIAC-1277-force-case-to-submit-hearing-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseToSubmitHearingRequirementsDetentionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/personalisation/legalrepresentative/LegalRepresentativeForceCaseToSubmitHearingRequirementsDetentionPersonalisationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-notifications-api-pr-1392

#1398 DIAC-1312 Sending letter when late detained fee exempt case submitted
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/DIAC-1312-internal-aip-submit-appeal-out-of-time-with-remission-letter-notification-represented.json
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/entities/DetentionFacility.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasenotificationsapi/infrastructure/config/NotificationHandlerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasenotificationsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-notifications-api-pr-1398
